// stylelint-disable declaration-no-important

// Width and height

@each $prop, $abbrev in (width: w, height: h) {
  @each $size, $length in $sizes {
    .#{$abbrev}-#{$size} { #{$prop}: $length !important; }
  }
}

.mw-100 { max-width: 100% !important; }
.mh-100 { max-height: 100% !important; }

//Widths in percentage

@for $size from 1 through 100 {
  .w-#{$size} {
    width : #{1% * $size} !important;
  }
}

// Maya icon sizes

.dci {
  vertical-align: middle;
}

.dci-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.dci-1x {
  font-size: 1.4em;
}

.dci-2x {
  font-size: 2em;
}

.dci-3x {
  font-size: 3em;
}

.dci-4x {
  font-size: 4em;
}

.dci-5x {
  font-size: 5em;
}
