// stylelint-disable declaration-no-important

// Width and height

@each $prop, $abbrev in (width: w, height: h) {
  @each $size, $length in $sizes {
    .#{$abbrev}-#{$size} { #{$prop}: $length !important; }
  }
}

.mw-100 { max-width: 100% !important; }
.mh-100 { max-height: 100% !important; }

//Widths

$widths: (
  "xxs" : 0.25,
  "xs"  : 0.5,
  "sm"  : 0.75,
  "md"  : 1,
  "lg"  : 1.5,
  "xl"  :  2,
  "2xl" :  3,
  "3xl" :  4,
  "4xl" :  6,
  "5xl" :  8,
  "6xl" :  12,
  "7xl" :  16,
  "8xl" :  24,
  "9xl" :  32,
  "10xl":  40,
  "11xl":  48,
);

@each $size, $value in $widths {
  @debug 1rem * $value;
  .w-#{$size} {
    width: 1rem * $value !important;
  }
}

// Maya icon sizes

.dci {
  vertical-align: middle;
}

.dci-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.dci-1x {
  font-size: 1.4em;
}

.dci-2x {
  font-size: 2em;
}

.dci-3x {
  font-size: 3em;
}

.dci-4x {
  font-size: 4em;
}

.dci-5x {
  font-size: 5em;
}
