@mixin badge-variant($color) {
    color: $color;
    border: 2px solid $color;
    
  &[href] {
    @include hover-focus {
      color: $color;
      text-decoration: none;
      border: 2px solid $color;
    }
  }
}
