{{page-head title="Badge" g="https://github.com/mayadata-io/maya-light/blob/master/app/styles/components/_badge.scss"}}

<div>
<p></p>
<span class="badge badge-primary">Primary</span>
<span class="badge badge-secondary">Secondary</span>
<span class="badge badge-success">Success</span>
<span class="badge badge-danger">Danger</span>
<span class="badge badge-warning">Warning</span>
<span class="badge badge-info">Info</span>
<span class="badge badge-light">Light</span>
<span class="badge badge-dark">Dark</span>
</div>

<div>
	<p class=" mt-4 text-muted">Examples</p>
	<div class="badge badge-success">12</div> Active
	<div class="badge badge-warning">2</div> Inactive 
 
</div>

<div>
<p class="lead mt-4">Pill badges</p>
<span class="badge badge-pill badge-primary">Primary</span>
<span class="badge badge-pill badge-secondary">Secondary</span>
<span class="badge badge-pill badge-success">Success</span>
<span class="badge badge-pill badge-danger">Danger</span>
<span class="badge badge-pill badge-warning">Warning</span>
<span class="badge badge-pill badge-info">Info</span>
<span class="badge badge-pill badge-light">Light</span>
<span class="badge badge-pill badge-dark">Dark</span>
</div>
<div>
	<p class=" text-muted mt-4">Examples</p>
	<div class="badge badge-pill badge-success">12</div> Active
	<div class="badge badge-pill badge-warning">2</div> Inactive
	</div>

<div>
	<p class="lead mt-4">Link</p>
	<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-secondary">Secondary</a>
<a href="#" class="badge badge-success">Success</a>
<a href="#" class="badge badge-danger">Danger</a>
<a href="#" class="badge badge-warning">Warning</a>
<a href="#" class="badge badge-info">Info</a>
<a href="#" class="badge badge-light">Light</a>
<a href="#" class="badge badge-dark">Dark</a>
</div>