{{page-head title="Code"}}
<div class="mt-4">
  <span>Code with command</span>
  {{code/code-block code=command}}
</div>
<div class="mt-4">
  <span>Code with large command</span>
  {{code/code-block code=commandLarge}}
</div>
