{{page-head title="Code"}}
<div class="mt-4">
  <p class="pt-2 pb-2">Code with command</p>
  {{code/code-block code=command}}
</div>
<div class="mt-4">
  <p class="pt-2 pb-2">Code with large command</p>
  {{code/code-block code=commandLarge}}
</div>
