{{page-head title="Colors" g="https://github.com/mayadata-io/maya-light/blob/master/app/styles/abstracts/_colors.scss"}}



<div>
  <h2 class="sub-title">Swatches</h2>
</div>
<div>
  <p>----</p>
</div>
<div class="d-flex mt-5 mb-5 flex-wrap">
  <!--Blue-->
  <div class="card mr-5" style="width:16.1rem; border:0;">
    <h2 class="lead mb-2">Blue</h2>
    <div class="bg-primary mb-2 pl-2 pt-4" style="height:108px;">
      <p class="text-white h5">Blue </p>
      <p class="text-white">blue-500</p>
    </div>
    <div class="bg-blue-000" style="height:48px;">blue-000</div>
    <div class="bg-blue-100" style="height:48px;">blue-100</div>
    <div class="bg-blue-200" style="height:48px;">blue-200</div>
    <div class="bg-blue-300" style="height:48px;">blue-300</div>
    <div class="bg-blue-400" style="height:48px;">blue-400</div>
    <div class="bg-blue-500" style="height:48px;">blue-500</div>
    <div class="bg-blue-600" style="height:48px;">blue-600</div>
    <div class="bg-blue-700" style="height:48px;">blue-700</div>
    <div class="bg-blue-800" style="height:48px;">blue-800</div>
    <div class="bg-blue-900" style="height:48px;">blue-900</div>
  </div>

  <!--green-->
  <div class="card mr-5" style="width:16.1rem; border:0;">
    <h2 class="lead mb-2">Green</h2>
    <div class="bg-success mb-2 pl-2 pt-4" style="height:108px;">
      <p class="text-white h5">Green </p>
      <p class="text-white">green-600</p>
    </div>
    <div class="bg-green-000" style="height:48px;"></div>
    <div class="bg-green-100" style="height:48px;"></div>
    <div class="bg-green-200" style="height:48px;"></div>
    <div class="bg-green-300" style="height:48px;"></div>
    <div class="bg-green-400" style="height:48px;"></div>
    <div class="bg-green-500" style="height:48px;"></div>
    <div class="bg-green-600" style="height:48px;"></div>
    <div class="bg-green-700" style="height:48px;"></div>
    <div class="bg-green-800" style="height:48px;"></div>
    <div class="bg-green-900" style="height:48px;"></div>
  </div>

  <!--red-->
  <div class="card mr-5" style="width:16.1rem; border:0;">
    <h2 class="lead mb-2">Red</h2>
    <div class="bg-danger mb-2 pl-2 pt-4" style="height:108px;">
      <p class="text-white h5">Red </p>
      <p class="text-white">red-600</p>
    </div>
    <div class="bg-red-000" style="height:48px;"></div>
    <div class="bg-red-100" style="height:48px;"></div>
    <div class="bg-red-200" style="height:48px;"></div>
    <div class="bg-red-300" style="height:48px;"></div>
    <div class="bg-red-400" style="height:48px;"></div>
    <div class="bg-red-500" style="height:48px;"></div>
    <div class="bg-red-600" style="height:48px;"></div>
    <div class="bg-red-700" style="height:48px;"></div>
    <div class="bg-red-800" style="height:48px;"></div>
    <div class="bg-red-900" style="height:48px;"></div>
  </div>

  <!--yellow-->
  <div class="card mr-5" style="width:16.1rem; border:0;">
    <h2 class="lead mb-2">Yellow</h2>
    <div class="bg-warning mb-2 pl-2 pt-4" style="height:108px;">
      <p class="text-dark h5">Yellow </p>
      <p class="text-dark">yellow-600</p>
    </div>
    <div class="bg-yellow-000" style="height:48px;"></div>
    <div class="bg-yellow-100" style="height:48px;"></div>
    <div class="bg-yellow-200" style="height:48px;"></div>
    <div class="bg-yellow-300" style="height:48px;"></div>
    <div class="bg-yellow-400" style="height:48px;"></div>
    <div class="bg-yellow-500" style="height:48px;"></div>
    <div class="bg-yellow-600" style="height:48px;"></div>
    <div class="bg-yellow-700" style="height:48px;"></div>
    <div class="bg-yellow-800" style="height:48px;"></div>
    <div class="bg-yellow-900" style="height:48px;"></div>
  </div>

  <!--cyan-->
  <div class="card mr-5" style="width:16.1rem; border:0;">
    <h2 class="lead mb-2">Red</h2>
    <div class="bg-cyan-600 mb-2 pl-2 pt-4" style="height:108px;">
      <p class="text-white h5">Cyan </p>
      <p class="text-white">cyan-600</p>
    </div>
    <div class="bg-cyan-000" style="height:48px;"></div>
    <div class="bg-cyan-100" style="height:48px;"></div>
    <div class="bg-cyan-200" style="height:48px;"></div>
    <div class="bg-cyan-300" style="height:48px;"></div>
    <div class="bg-cyan-400" style="height:48px;"></div>
    <div class="bg-cyan-500" style="height:48px;"></div>
    <div class="bg-cyan-600" style="height:48px;"></div>
    <div class="bg-cyan-700" style="height:48px;"></div>
    <div class="bg-cyan-800" style="height:48px;"></div>
    <div class="bg-cyan-900" style="height:48px;"></div>
  </div>

  <!--orange-->
  <div class="card mr-5" style="width:16.1rem; border:0;">
    <h2 class="lead mb-2">Orange</h2>
    <div class="bg-orange-600 mb-2 pl-2 pt-4" style="height:108px;">
      <p class="text-white h5">Orange </p>
      <p class="text-white">orange-600</p>
    </div>
    <div class="bg-orange-000" style="height:48px;"></div>
    <div class="bg-orange-100" style="height:48px;"></div>
    <div class="bg-orange-200" style="height:48px;"></div>
    <div class="bg-orange-300" style="height:48px;"></div>
    <div class="bg-orange-400" style="height:48px;"></div>
    <div class="bg-orange-500" style="height:48px;"></div>
    <div class="bg-orange-600" style="height:48px;"></div>
    <div class="bg-orange-700" style="height:48px;"></div>
    <div class="bg-orange-800" style="height:48px;"></div>
    <div class="bg-orange-900" style="height:48px;"></div>
  </div>

  <!--purples-->
  <div class="card mr-5" style="width:16.1rem; border:0;">
    <h2 class="lead mb-2">Purple</h2>
    <div class="bg-purple-600 mb-2 pl-2 pt-4" style="height:108px;">
      <p class="text-white h5">Purple </p>
      <p class="text-white">purple-600</p>
    </div>
    <div class="bg-purple-000" style="height:48px;"></div>
    <div class="bg-purple-100" style="height:48px;"></div>
    <div class="bg-purple-200" style="height:48px;"></div>
    <div class="bg-purple-300" style="height:48px;"></div>
    <div class="bg-purple-400" style="height:48px;"></div>
    <div class="bg-purple-500" style="height:48px;"></div>
    <div class="bg-purple-600" style="height:48px;"></div>
    <div class="bg-purple-700" style="height:48px;"></div>
    <div class="bg-purple-800" style="height:48px;"></div>
    <div class="bg-purple-900" style="height:48px;"></div>
  </div>

  <!--grays-->
  <div class="card mr-5" style="width:16.1rem; border:0;">
    <h2 class="lead mb-2">Gray</h2>
    <div class="bg-gray-600 mb-2 pl-2 pt-4" style="height:108px;">
      <p class="text-white h5">Gray</p>
      <p class="text-white">gray-600</p>
    </div>
    <div class="bg-gray-000" style="height:48px;"></div>
    <div class="bg-gray-100" style="height:48px;"></div>
    <div class="bg-gray-200" style="height:48px;"></div>
    <div class="bg-gray-300" style="height:48px;"></div>
    <div class="bg-gray-400" style="height:48px;"></div>
    <div class="bg-gray-500" style="height:48px;"></div>
    <div class="bg-gray-600" style="height:48px;"></div>
    <div class="bg-gray-700" style="height:48px;"></div>
    <div class="bg-gray-800" style="height:48px;"></div>
    <div class="bg-gray-900" style="height:48px;"></div>
  </div>
</div>

<div>
  <h2 class="sub-title">Background colors</h2>
</div>
<div>
  <p>We recommend to use this set of background colors in order to complement the primary
    and secondary colors.</p>
</div>
<div class="d-flex mt-5 mb-5 flex-wrap">
  <div class="card mr-5" style="width:13.1rem;">
    <div class="color-box bg-dark">
    </div>
    <div class="card-body">
      <p class="card-text">Dark </p>
      <p>Gray-800</p>
      <span class="mr-2 text-muted">RGB</span>52, 56, 64
      <span class="mr-2 text-muted">HEX</span>#343a40
    </div>
  </div>

  <div class="card mr-5" style="width:13.1rem;">
    <div class="color-box bg-light">
    </div>
    <div class="card-body">
      <p class="card-text">Light</p>
      <p>Gray-100</p>
      <span class="mr-2 text-muted">RGB</span>248, 249, 250
      <span class="mr-2 text-muted">HEX</span>#f8f9fa
    </div>
  </div>
  <div class="card mr-5" style="width:13.1rem;">
    <div class="color-box bg-white">
    </div>
    <div class="card-body">
      <p class="card-text">White</p>
      <span class="mr-2 text-muted">RGB</span>255, 255, 255
      <span class="mr-2 text-muted">HEX</span>#FFFFFF
    </div>
  </div>
</div>
