{{page-head title="Colors" g="https://github.com/mayadata-io/maya-light/blob/master/app/styles/abstracts/_colors.scss"}}
<div>
    <p>A primary color refers to a color that appears most frequently in your app.</p>
    <p> A secondary color refers to a color used to accent key parts of your UI.</p>
</div>
<div>
    <h2 class="sub-title">Primary colors</h2>
</div>
<div>
    <p>A primary color is the color displayed most frequently across your app’s screens and components. It can also be used to accent elements, if you don’t have a secondary color.</p>
    <p>To create contrast between elements, you can use lighter or darker tones of your primary color. The contrast between lighter and darker tones helps show division between surfaces, such as between the status bar and a toolbar.</p>
    <p>Use the primary color to accent elements, such as buttons or checkboxes.
    </p>
    <p>Elements that appear rarely, such as alerts, should be distinct from other elements and not use your primary color.</p>
</div>
<div>
</div>
<div class="d-flex mt-5 mb-5">
    <div class="card mr-5" style="width:13.1rem;">
        <div class="color-box bg-teal-blue">
        </div>
        <div class="card-body">
            <p class="card-text">Primary</p>
            <p>Teal Blue</p>
            <span class="mr-2 text-muted">RGB</span>123, 255, 100
            <span class="mr-2 text-muted">HEX</span>#084766
        </div>
    </div>
    
    <div class="card mr-5" style="width:13.1rem;">
        <div class="color-box bg-primary">
        </div>
        <div class="card-body">
            <p class="card-text">Primary</p>
            <p>Blue</p>
            <span class="mr-2 text-muted">RGB</span>8, 71, 102
            <span class="mr-2 text-muted">HEX</span>#007bff
        </div>
    </div>
</div>
<div>
    <h2 class="sub-title">Secondary colors</h2>
</div>
<div>
    <p>A secondary color is used to accent select parts of your UI. It can be complementary or analogous to your primary color, but it should not simply be a light or dark variation of your primary color. It should contrast with elements that surround it and be applied sparingly as an accent.
    </p>
    <p>Secondary colors are best used for:
    </p>
    <ul>
        <li>Buttons, floating action buttons, and button text</li>
        <li>Text fields, cursors, and text selection</li>
        <li>Progress bars</li>
        <li>Selection controls, buttons, and sliders</li>
        <li>Links</li>
        <li>Headlines</li>
    </ul>
    <p>Our secondary palette is made up of red, yellow, green, and purple.</p>
</div>
<div>
<div class="d-flex mt-5 mb-5 flex-wrap">
    <div class="card mr-5 mb-5 " style="width:13.1rem;">
        <div class="color-box bg-danger">
        </div>
        <div class="card-body">
            <p class="card-text">Danger</p>
            
            <span class="mr-2 text-muted">RGB</span>8, 71, 102
            <span class="mr-2 text-muted">HEX</span>#084766
        </div>
    </div>
    <div class="card mr-5 mb-5 " style="width:13.1rem;">
        <div class="color-box bg-warning">
        </div>
        <div class="card-body">
            <p class="card-text">Warning</p>
            
            <span class="mr-2 text-muted">RGB</span>255, 171, 0
            <span class="mr-2 text-muted">HEX</span>#FFAB00
        </div>
    </div>
    <div class="card mr-5 mb-5 " style="width:13.1rem;">
        <div class="color-box bg-success">
        </div>
        <div class="card-body">
            <p class="card-text">Success</p>
            
            <span class="mr-2 text-muted">RGB</span>54, 179, 126
            <span class="mr-2 text-muted">HEX</span>#36B37E
        </div>
    </div>
    
    <div class="card mr-5 mb-5 " style="width:13.1rem;">
        <div class="color-box bg-info">
        </div>
        <div class="card-body">
            <p class="card-text">Info</p>
            <span class="mr-2 text-muted">RGB</span>0, 184, 217
            <span class="mr-2 text-muted">HEX</span>#00B8D9
        </div>
    </div>
</div>
</div>
<div>
    <h2 class="sub-title">Background colors</h2>
</div>
<div>
    <p>We recommend to use this set of background colors in order to complement the primary and secondary colors.</p>
</div>
<div class="d-flex mt-5 mb-5 flex-wrap">
    <div class="card mr-5" style="width:13.1rem;">
        <div class="color-box bg-dark">
        </div>
        <div class="card-body">
            <p class="card-text">Dark </p>
            <p>Gray-800</p>
            <span class="mr-2 text-muted">RGB</span>52, 56, 64
            <span class="mr-2 text-muted">HEX</span>#343a40
        </div>
    </div>
    
    <div class="card mr-5" style="width:13.1rem;">
        <div class="color-box bg-light">
        </div>
        <div class="card-body">
            <p class="card-text">Light</p>
            <p>Gray-100</p>
            <span class="mr-2 text-muted">RGB</span>248, 249, 250
            <span class="mr-2 text-muted">HEX</span>#f8f9fa
        </div>
    </div>
    <div class="card mr-5" style="width:13.1rem;">
        <div class="color-box bg-white">
        </div>
        <div class="card-body">
            <p class="card-text">White</p>
            <span class="mr-2 text-muted">RGB</span>255, 255, 255
            <span class="mr-2 text-muted">HEX</span>#FFFFFF
        </div>
    </div>
</div>