<style>
    .page-header{
    }
    .title {
        font-size: 28px;
    }
    .sub-title{
        font-size: 24px;
        margin-top: 3%;
    }
</style>
<div class="page-header mb-3"><span class="title">{{title}}</span>
<span class="float-right p-2 small"><a href={{g}} target="_blank">View on github</a></span>
</div>