<div class="d-inline"><span class="page-title">{{title}}</span></div>
<div class="d-inline p-2 small"><a href={{g}} target="_blank">View on github</a></div>
<style>
    .page-title{
        font-size: 28px;
    }
    </style>