<style>
    .page-header{
      padding: 18px 0;
    }
    .title {
        font-size: 36px;
    }
    .sub-title{
        font-size: 24px;
        margin-top: 3%;
    }
</style>
<div class="page-header mb-3">
    <span class="float-right p-2 small"><a href={{g}} target="_blank">View on github</a></span>
</div>
