hello


<form method="post" onsubmit="javascript:document.location='http://' + $('login') + ':' + $('pass') + '@uidev-app.mayacloud.io/maya-grafana/dashboard/db/openebs-volume-stats?orgId=7FEE41B9E2CAF13968B1';">
    <input type="text" name="login" id="login" />
    <input type="password" name="pass" id="pass" />
    <input type="submit" value="ok"/>
</form>



<form id="login" target="frame" method="post" action="http://remote.com/login">
<input type="hidden" name="username" value="login" />
<input type="hidden" name="password" value="pass" />
</form>

<iframe id="frame" name="frame"></iframe>

<script type="text/javascript">
// submit the form into iframe for login into remote site
document.getElementById('login').submit();

// once you're logged in, change the source url (if needed)
var iframe = document.getElementById('frame');
iframe.onload = function() {
if (iframe.src != "http://remote.com/list") {
iframe.src = "http://remote.com/list";
}
}
</script>