@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4a5gfk');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4a5gfk#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?4a5gfk') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?4a5gfk') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?4a5gfk##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.mi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mi-ssh {
  &:before {
    content: $mi-ssh; 
  }
}
.mi-alert-triangle-filled {
  &:before {
    content: $mi-alert-triangle-filled; 
  }
}
.mi-help-circle {
  &:before {
    content: $mi-help-circle; 
  }
}
.mi-loader1 {
  &:before {
    content: $mi-loader1; 
  }
}
.mi-arrow-left {
  &:before {
    content: $mi-arrow-left; 
  }
}
.mi-check-list {
  &:before {
    content: $mi-check-list; 
  }
}
.mi-home {
  &:before {
    content: $mi-home; 
  }
}
.mi-mail {
  &:before {
    content: $mi-mail; 
  }
}
.mi-bell {
  &:before {
    content: $mi-bell; 
  }
}
.mi-dollar {
  &:before {
    content: $mi-dollar; 
  }
}
.mi-eye-off {
  &:before {
    content: $mi-eye-off; 
  }
}
.mi-eye {
  &:before {
    content: $mi-eye; 
  }
}
.mi-star {
  &:before {
    content: $mi-star; 
  }
}
.mi-star-filled {
  &:before {
    content: $mi-star-filled; 
  }
}
.mi-check-circle {
  &:before {
    content: $mi-check-circle; 
  }
}
.mi-lock {
  &:before {
    content: $mi-lock; 
  }
}
.mi-ellipsis-vertical {
  &:before {
    content: $mi-ellipsis-vertical; 
  }
}
.mi-alert-triangle {
  &:before {
    content: $mi-alert-triangle; 
  }
}
.mi-arrow-left-circle {
  &:before {
    content: $mi-arrow-left-circle; 
  }
}
.mi-chevron-down {
  &:before {
    content: $mi-chevron-down; 
  }
}
.mi-database {
  &:before {
    content: $mi-database; 
  }
}
.mi-overview {
  &:before {
    content: $mi-overview; 
  }
}
.mi-container-filled {
  &:before {
    content: $mi-container-filled; 
  }
}
.mi-circle-info {
  &:before {
    content: $mi-circle-info; 
  }
}
.mi-layers {
  &:before {
    content: $mi-layers; 
  }
}
.mi-log-out {
  &:before {
    content: $mi-log-out; 
  }
}
.mi-search {
  &:before {
    content: $mi-search; 
  }
}
.mi-sliders {
  &:before {
    content: $mi-sliders; 
  }
}
.mi-close {
  &:before {
    content: $mi-close; 
  }
}
.mi-trash {
  &:before {
    content: $mi-trash; 
  }
}
.mi-users {
  &:before {
    content: $mi-users; 
  }
}
.mi-cluster {
  &:before {
    content: $mi-cluster; 
  }
}
.mi-file {
  &:before {
    content: $mi-file; 
  }
}
.mi-slack {
  &:before {
    content: $mi-slack; 
  }
}
.mi-bar-chart {
  &:before {
    content: $mi-bar-chart; 
  }
}
.mi-cloud-arrow-up {
  &:before {
    content: $mi-cloud-arrow-up; 
  }
}
.mi-user {
  &:before {
    content: $mi-user; 
  }
}
.mi-message-square {
  &:before {
    content: $mi-message-square; 
  }
}
.mi-edit {
  &:before {
    content: $mi-edit; 
  }
}
.mi-chat {
  &:before {
    content: $mi-chat; 
  }
}
.mi-plus {
  &:before {
    content: $mi-plus; 
  }
}
.mi-minus {
  &:before {
    content: $mi-minus; 
  }
}
.mi-downgrade {
  &:before {
    content: $mi-downgrade; 
  }
}
.mi-refresh {
  &:before {
    content: $mi-refresh; 
  }
}
.mi-view {
  &:before {
    content: $mi-view; 
  }
}
.mi-share {
  &:before {
    content: $mi-share; 
  }
}
.mi-add-user {
  &:before {
    content: $mi-add-user; 
  }
}
.mi-table-sort-arrows {
  &:before {
    content: $mi-table-sort-arrows; 
  }
}
.mi-upgrade {
  &:before {
    content: $mi-upgrade; 
  }
}
.mi-frequency {
  &:before {
    content: $mi-frequency; 
  }
}
.mi-chart-bar-up {
  &:before {
    content: $mi-chart-bar-up; 
  }
}
.mi-clipboard-pen {
  &:before {
    content: $mi-clipboard-pen; 
  }
}
.mi-hamburger {
  &:before {
    content: $mi-hamburger; 
  }
}
.mi-loader {
  &:before {
    content: $mi-loader; 
  }
}
.mi-filter {
  &:before {
    content: $mi-filter; 
  }
}
.mi-arrow-up-down {
  &:before {
    content: $mi-arrow-up-down; 
  }
}
.mi-table {
  &:before {
    content: $mi-table; 
  }
}
.mi-pool-thin {
  &:before {
    content: $mi-pool-thin; 
  }
}
.mi-pool {
  &:before {
    content: $mi-pool; 
  }
}
.mi-wave {
  &:before {
    content: $mi-wave; 
  }
}
.mi-globe {
  &:before {
    content: $mi-globe; 
  }
}
.mi-logout {
  &:before {
    content: $mi-logout; 
  }
}
.mi-check-circle-fill {
  &:before {
    content: $mi-check-circle-fill; 
  }
}
.mi-long-arrow-down {
  &:before {
    content: $mi-long-arrow-down; 
  }
}
.mi-long-arrow-up {
  &:before {
    content: $mi-long-arrow-up; 
  }
}
.mi-long-arrow-left {
  &:before {
    content: $mi-long-arrow-left; 
  }
}
.mi-long-arrow-right {
  &:before {
    content: $mi-long-arrow-right; 
  }
}
.mi-link {
  &:before {
    content: $mi-link; 
  }
}
.mi-container {
  &:before {
    content: $mi-container; 
  }
}
.mi-circle-add {
  &:before {
    content: $mi-circle-add; 
  }
}
.mi-circle-minus {
  &:before {
    content: $mi-circle-minus; 
  }
}
.mi-rocket-share {
  &:before {
    content: $mi-rocket-share; 
  }
}
.mi-settings {
  &:before {
    content: $mi-settings; 
  }
}
.mi-tree-network {
  &:before {
    content: $mi-tree-network; 
  }
}
.mi-chevrons-right {
  &:before {
    content: $mi-chevrons-right; 
  }
}
.mi-chevrons-left {
  &:before {
    content: $mi-chevrons-left; 
  }
}
.mi-chevron-right {
  &:before {
    content: $mi-chevron-right; 
  }
}
.mi-chevron-left {
  &:before {
    content: $mi-chevron-left; 
  }
}
.mi-chevron-up {
  &:before {
    content: $mi-chevron-up; 
  }
}
.mi-user-switch {
  &:before {
    content: $mi-user-switch; 
  }
}
.mi-application {
  &:before {
    content: $mi-application; 
  }
}
.mi-play-square {
  &:before {
    content: $mi-play-square; 
  }
}
.mi-logs {
  &:before {
    content: $mi-logs; 
  }
}
.mi-align-left {
  &:before {
    content: $mi-align-left; 
  }
}
.mi-arrow-right-curve {
  &:before {
    content: $mi-arrow-right-curve; 
  }
}
.mi-arrow-left-curve {
  &:before {
    content: $mi-arrow-left-curve; 
  }
}
.mi-key {
  &:before {
    content: $mi-key; 
  }
}
.mi-cloud-reload {
  &:before {
    content: $mi-cloud-reload; 
  }
}
.mi-cloud-up-down {
  &:before {
    content: $mi-cloud-up-down; 
  }
}
.mi-id-card {
  &:before {
    content: $mi-id-card; 
  }
}
.mi-lightbulb {
  &:before {
    content: $mi-lightbulb; 
  }
}
.mi-x-circle {
  &:before {
    content: $mi-x-circle; 
  }
}
.mi-check-square {
  &:before {
    content: $mi-check-square; 
  }
}
.mi-form {
  &:before {
    content: $mi-form; 
  }
}
.mi-litmus {
  &:before {
    content: $mi-litmus; 
  }
}
.mi-arrow-down-circle {
  &:before {
    content: $mi-arrow-down-circle; 
  }
}
.mi-arrow-up-circle {
  &:before {
    content: $mi-arrow-up-circle; 
  }
}
.mi-arrow-right-circle {
  &:before {
    content: $mi-arrow-right-circle; 
  }
}
.mi-book {
  &:before {
    content: $mi-book; 
  }
}
.mi-plug-connect {
  &:before {
    content: $mi-plug-connect; 
  }
}
.mi-ellipsis-horizontal {
  &:before {
    content: $mi-ellipsis-horizontal; 
  }
}
.mi-clock {
  &:before {
    content: $mi-clock; 
  }
}
.mi-disable {
  &:before {
    content: $mi-disable; 
  }
}

