$icomoon-font-family: "de-code-icons" !default;
$icomoon-font-path: "fonts" !default;

$dci-star: "\e93c";
$dci-wave: "\e946";
$dci-link: "\e947";
$dci-view: "\e944";
$dci-table: "\e943";
$dci-add-user: "\e93d";
$dci-share: "\e942";
$dci-container: "\e940";
$dci-filter: "\e93b";
$dci-arrow-up-down: "\e93e";
$dci-user: "\e941";
$dci-loader: "\e932";
$dci-hamburger: "\e92d";
$dci-circle-add: "\e90b";
$dci-circle-minus: "\e928";
$dci-clock1: "\e92b";
$dci-rocket-share: "\e90a";
$dci-settings: "\e93a";
$dci-tree-network: "\e92a";
$dci-chevrons-right: "\e904";
$dci-chevrons-left: "\e914";
$dci-chevron-right: "\e933";
$dci-chevron-left: "\e934";
$dci-chevron-up: "\e935";
$dci-chevron-down: "\e937";
$dci-x: "\e916";
$dci-user-switch: "\e938";
$dci-application: "\e901";
$dci-mail: "\e900";
$dci-check-list: "\e902";
$dci-file: "\e903";
$dci-bell: "\e905";
$dci-play-square: "\e906";
$dci-logs: "\e907";
$dci-dashboard: "\e936";
$dci-search: "\e908";
$dci-alert-triangle: "\e909";
$dci-slack: "\e90c";
$dci-align-left: "\e90d";
$dci-arrow-right-curve: "\e90e";
$dci-arrow-left-curve: "\e90f";
$dci-key: "\e910";
$dci-cloud-reload: "\e911";
$dci-cloud-up-down: "\e912";
$dci-eye: "\e913";
$dci-circle-info: "\e915";
$dci-check-circle: "\e917";
$dci-id-card: "\e918";
$dci-lightbulb: "\e919";
$dci-x-circle: "\e91a";
$dci-home: "\e91b";
$dci-check-square: "\e91c";
$dci-database: "\e91d";
$dci-form: "\e91e";
$dci-litmus: "\e91f";
$dci-arrow-down-circle: "\e920";
$dci-arrow-up-circle: "\e921";
$dci-arrow-right-circle: "\e922";
$dci-arrow-left-circle: "\e923";
$dci-book: "\e924";
$dci-plug-connect: "\e925";
$dci-ellipsis-horizontal: "\e926";
$dci-ellipsis-vertical: "\e927";
$dci-edit: "\e929";
$dci-clipboard-pen: "\e92c";
$dci-trash: "\e939";
$dci-chart-bar-up: "\e92e";
$dci-frequency: "\e92f";
$dci-cluster: "\e931";
$dci-clock: "\e930";
$dci-upgrade: "\e93f";
$dci-disable: "\e945";

