$icomoon-font-family: "maya-icons" !default;
$icomoon-font-path: "fonts" !default;

$mi-copy: "\e96a";
$mi-container: "\e961";
$mi-circle-info-filled: "\e968";
$mi-x-circle-filled: "\e969";
$mi-container-filled: "\e908";
$mi-home: "\e964";
$mi-tree-network: "\e913";
$mi-dollar: "\e92a";
$mi-cloud-arrow-up: "\e958";
$mi-historical-logs: "\e903";
$mi-command: "\e93b";
$mi-alert-triangle-filled: "\e905";
$mi-help-circle: "\e967";
$mi-loader1: "\e965";
$mi-arrow-left: "\e966";
$mi-check-list: "\e94e";
$mi-mail: "\e91d";
$mi-bell: "\e909";
$mi-eye-off: "\e915";
$mi-eye: "\e917";
$mi-star: "\e91b";
$mi-star-filled: "\e923";
$mi-check-circle: "\e927";
$mi-lock: "\e937";
$mi-ellipsis-vertical: "\e93f";
$mi-alert-triangle: "\e942";
$mi-arrow-left-circle: "\e943";
$mi-chevron-down: "\e944";
$mi-database: "\e900";
$mi-dashboard: "\e902";
$mi-circle-info: "\e946";
$mi-layers: "\e90c";
$mi-log-out: "\e916";
$mi-search: "\e92b";
$mi-sliders: "\e92c";
$mi-x: "\e936";
$mi-trash: "\e940";
$mi-users: "\e94d";
$mi-cluster: "\e951";
$mi-file: "\e952";
$mi-slack: "\e956";
$mi-bar-chart: "\e957";
$mi-user: "\e94f";
$mi-message-square: "\e962";
$mi-edit: "\e963";
$mi-chat: "\e93c";
$mi-plus: "\e93d";
$mi-minus: "\e93e";
$mi-downgrade: "\e932";
$mi-refresh: "\e931";
$mi-view: "\e92e";
$mi-share: "\e929";
$mi-add-user: "\e92d";
$mi-table-sort-arrows: "\e92f";
$mi-upgrade: "\e939";
$mi-frequency: "\e953";
$mi-chart-bar-up: "\e954";
$mi-clipboard-pen: "\e955";
$mi-hamburger: "\e959";
$mi-loader: "\e95a";
$mi-filter: "\e95b";
$mi-arrow-up-down: "\e95c";
$mi-table: "\e95d";
$mi-pool-thin: "\e95e";
$mi-pool: "\e95f";
$mi-wave: "\e960";
$mi-globe: "\e941";
$mi-logout: "\e950";
$mi-check-circle-fill: "\e948";
$mi-long-arrow-down: "\e949";
$mi-long-arrow-up: "\e94a";
$mi-long-arrow-left: "\e94b";
$mi-long-arrow-right: "\e94c";
$mi-link: "\e947";
$mi-circle-add: "\e90b";
$mi-circle-minus: "\e928";
$mi-rocket-share: "\e90a";
$mi-settings: "\e93a";
$mi-chevrons-right: "\e904";
$mi-chevrons-left: "\e914";
$mi-chevron-right: "\e933";
$mi-chevron-left: "\e934";
$mi-chevron-up: "\e935";
$mi-user-switch: "\e938";
$mi-application: "\e901";
$mi-play-square: "\e906";
$mi-logs: "\e907";
$mi-align-left: "\e90d";
$mi-arrow-right-curve: "\e90e";
$mi-arrow-left-curve: "\e90f";
$mi-key: "\e910";
$mi-cloud-reload: "\e911";
$mi-cloud-up-down: "\e912";
$mi-id-card: "\e918";
$mi-lightbulb: "\e919";
$mi-x-circle: "\e91a";
$mi-check-square: "\e91c";
$mi-form: "\e91e";
$mi-litmus: "\e91f";
$mi-arrow-down-circle: "\e920";
$mi-arrow-up-circle: "\e921";
$mi-arrow-right-circle: "\e922";
$mi-book: "\e924";
$mi-plug-connect: "\e925";
$mi-ellipsis-horizontal: "\e926";
$mi-clock: "\e930";
$mi-disable: "\e945";

