{{page-head title="Banners" g="https://github.com/mayadata-io/maya-light/blob/master/app/styles/components/_banner.scss"}}
<div class="banner banner-primary  mt-2" role="alert">
    <span class="banner-text">This is a primary banner—check it out!</span></div>

<div class="banner banner-secondary mt-2" role="alert">
    <span class="banner-text">This is a secondary banner—check it out!</span>
</div>
<div class="banner banner-success  mt-2" role="alert" id="exit">
    <span class="banner-text">This is a success banner—check it out!</span>
</div>
<div class="banner banner-danger  mt-2" role="alert">
    <span class="banner-text"> This is a danger banner—check it out!</span>
</div>
<div class="banner banner-warning mt-2" role="alert" id="exit">
    <span class="banner-text">This is a warning banner—check it out!</span>
</div>
<div class="banner banner-info  mt-2" role="alert">
    <span class="banner-text">This is a info banner—check it out!</span>
</div>
<div class="banner banner-light mt-2" role="alert">
    <span class="banner-text"> This is a info banner—light it out!</span>
</div>
<div class="banner banner-dark  mt-2" role="alert">
    <span class="banner-text">This is a info banner—dark it out!</span>
</div>
<div class="mt-4">
    <p class="lead"><u>link</u></p>

    <div class="banner banner-warning banner-dismissible fade show mt-2" role="alert">
        <span class="banner-text">More information? See the&nbsp;<a href="#" class="banner-link">Recovery proccess documentaion.</a></span>
    </div>

</div>
<div class="mt-4">
    <p class="lead"><u>dismissible</u></p>
    <div class="banner banner-warning banner-dismissible fade show">
        <span class="banner-text">
            You can't import new cluster at the moment. We're working hard to fix this. Watch our <a href="#" class="banner-link">status page</a> for more information.
    </span>
        <button type="button" class="close" data-dismiss="banner" aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>
    </div>
    <div class="mt-4">
        <h6 class="text-muted"><u>Overflow</u></h6>
        <p>Banner size can change based on the size of the browser. When this happens, the banner text should stay a single line with ellipses.</p>
        <div class="banner banner-info w-50 m-auto">
        <span class="banner-text">You can't import new cluster at the moment. We're working hard to fix this. Watch our status page for more information.</span>
    </div>
    </div>
</div>
<div class="mt-4">
    <p class="lead text-muted">Examples</p>
    {{#code-block language='markup'}} &lt;div class="banner banner-primary" role="alert"&gt; 
    &lt;span class="banner-text">This is a primary banner—check it out!&lt;/span&gt;
&lt;/div&gt;
    {{/code-block}}
    {{#code-block language='markup'}} &lt;div class="banner banner-primary banner-dismissible" role="alert"&gt; 
    &lt;span class="banner-text">This is a primary banner—check it out!&lt;/span&gt;
     &lt;button type="button" class="close" data-dismiss="banner" aria-label="Close"&gt;
	  &lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;
	&lt;/button>
&lt;/div>
    {{/code-block}}
</div>