{{page-head title="Banners" g="https://github.com/mayadata-io/maya-light/blob/master/app/styles/components/_banner.scss"}}
<div class="banner banner-primary  mt-2" role="alert">
	This is a primary banner—check it out!
</div>

<div class="banner banner-secondary mt-2" role="alert">
	This is a secondary banner—check it out!
</div>
<div class="banner banner-success  mt-2" role="alert" id="exit">
	This is a success banner—check it out!
</div>
<div class="banner banner-danger  mt-2" role="alert">
	This is a danger banner—check it out!
</div>
<div class="banner banner-warning mt-2" role="alert" id="exit">
	This is a warning banner—check it out!
</div>
<div class="banner banner-info  mt-2" role="alert">
	This is a info banner—check it out!
</div>
<div class="banner banner-light mt-2" role="alert">
	This is a info banner—light it out!
</div>
<div class="banner banner-dark  mt-2" role="alert">
	This is a info banner—dark it out!
</div>
<div class="mt-4">
	<p class="lead"><u>link</u></p>
<div class="banner banner-warning banner-dismissible fade show mt-2" role="alert">
	More information? See the&nbsp;<a href="#" class="banner-link">Recovery proccess documentaion.</a>
</div>
</div>
<div class="mt-4">
	<p class="lead"><u>dismissible</u></p>
<div class="banner banner-info banner-dismissible fade show">
	This is info banner with close button
	<button type="button" class="close" data-dismiss="banner" aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>
</div>
</div>
<div class="mt-4">
	<p class="lead text-muted">Examples</p>
	{{#code-block language='markup'}}
&lt;div class="banner banner-primary" role="alert"&gt;
 This is a primary banner—check it out!
&lt;/div&gt;
&lt;div class="banner banner-warning" role="alert"&gt;
	More information? See the&nbsp;&lt;a href="#" class="banner-link"&gt;Recovery proccess documentaion.&lt;/a&gt;
&lt;/div&gt;
{{/code-block}}
</div>