{{page-head title="Avatars" g="https://github.com/mayadata-io/maya-light/blob/master/app/styles/components/_avatar.scss"}}

<div class="mt-5">
    <p class="lead text-muted">Size</p>
    <img class="avatar avatar-sm" src="https://avatars2.githubusercontent.com/u/18216179?s=460&v=4">
    <img class="avatar avatar-md" src="https://avatars1.githubusercontent.com/u/12488783?s=400&v=4">
    <img class="avatar avatar-lg" src="https://avatars2.githubusercontent.com/u/7765078?s=400&v=4">
    <img class="avatar avatar-xl" src="https://avatars2.githubusercontent.com/u/26892096?s=400&v=4">
    <img class="avatar avatar-xxl" src="https://avatars3.githubusercontent.com/u/1729024?s=400&v=4"> {{#code-block language='markup'}}&lt;img class="avatar avatar-sm" src=""&gt;{{/code-block}}

</div>

<div class="mt-5">
    <p class="lead text-muted">Avatar status</p>
    <div class="avatar-list mt-5">
        <span class="avatar" style="background-image: url(https://avatars2.githubusercontent.com/u/18216179?s=460&v=4)"></span>
        <span class="avatar" style="background-image: url(https://avatars1.githubusercontent.com/u/12488783?s=400&v=4)">
  <span class="avatar-status"></span>
        </span>
        <span class="avatar" style="background-image: url(https://avatars2.githubusercontent.com/u/7765078?s=400&v=4)">
  <span class="avatar-status bg-danger"></span>
        </span>
        <span class="avatar" style="background-image: url(https://avatars2.githubusercontent.com/u/26892096?s=400&v=4)">
  <span class="avatar-status bg-success"></span>
        </span>
        <span class="avatar" style="background-image: url(https://avatars3.githubusercontent.com/u/1729024?s=400&v=4)">
  <span class="avatar-status bg-warning"></span>
        </span>
    </div>
    {{#code-block language='markup'}} &lt;span class="avatar" style="background-image:url()"&gt; &lt;span class="avatar-status bg-success">&lt;/span&gt; &lt;/span&gt;{{/code-block}}

</div>

<div class="mt-5">
    <p class="lead text-muted">Avatar placeholder</p>
    <span class="avatar">RB</span>
    <span class="avatar">KH</span>
    <span class="avatar">BK</span>
    <span class="avatar avatar-placeholder"></span>
    <span class="avatar"><i class="fe fe-more-horizontal"></i></span>
</div>


<div class="mt-4">
    <span class="avatar avatar-blue">NG</span>
    <span class="avatar avatar avatar-azure">AM</span>
    <span class="avatar avatar-indigo">RB</span>
    <span class="avatar avatar-purple">PR</span>
    <span class="avatar avatar-pink">WH</span>
    <span class="avatar avatar-red">MR</span>
    <span class="avatar avatar-orange">DB</span>
    <span class="avatar avatar-yellow">PP</span>
    <span class="avatar avatar-lime">JR</span>
    <span class="avatar avatar-green">RB</span>
    <span class="avatar avatar-teal">KH</span>
    <span class="avatar avatar-cyan">BK</span>
    <span class="avatar avatar-gray">CA</span>
    <span class="avatar avatar-gray-dark">CW</span> {{#code-block language='markup'}}&lt;span class="avatar avatar-blue">NG&lt;/span&gt;{{/code-block}}
</div>


<div class="avatar-list avatar-list-stacked mt-5">
    <p class="lead text-muted">Avatars list</p>
    <img class="avatar avatar-md" src="https://avatars2.githubusercontent.com/u/18216179?s=460&v=4">
    <img class="avatar avatar-md" src="https://avatars2.githubusercontent.com/u/18216179?s=460&v=4">
    <img class="avatar avatar-md" src="https://avatars2.githubusercontent.com/u/18216179?s=460&v=4">
    <img class="avatar avatar-md" src="https://avatars2.githubusercontent.com/u/18216179?s=460&v=4">
    <img class="avatar avatar-md" src="https://avatars2.githubusercontent.com/u/18216179?s=460&v=4">
    <span class="avatar avatar-md">+8</span> {{#code-block language='markup'}}&lt;img class="avatar avatar-sm" src=""&gt;{{/code-block}}

</div>
