// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;
  @include hover-focus {
    text-decoration: none;
  }
  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
  }
}

//
/// Default
/// default tab with a line on bottom of each nav-link
//

.nav-default {
  border-bottom: 1px solid $gray-100;

  .nav-link {
    color: $gray-600;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    line-height: 20px;
    margin-right: 22px;
    padding: 0;
  }

  .nav-link.active {
    border-bottom: 2px solid $primary;
    color: $nav-link-active-color;
  }
}
//Segmented nav
//Navigation menu like ios
//https://developer.apple.com/design/human-interface-guidelines/ios/controls/segmented-controls/

.nav-segmented {
  .nav-link {
    box-shadow: $segment-control-color-box-shadow;
    color: $segment-control-color;
    cursor: pointer;
    display: block;
    margin: 0 -1px -1px 0; // -1px margin removes double-thickness borders between items */
    text-align: center;

    &:hover {
      background: $segment-control-color-hover-bg;
    }
  }

  .nav-link.active {
    background: $segment-control-color-active-color-bg;
    color: $segment-control-color-active-color;
  }

  .nav-link:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }

  .nav-link:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
}

// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }
}

// Nav card
.nav-card {
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 0px 10px -1px rgba($gray-100, 0.8);
  padding: $nav-card-padding-y $nav-card-padding-x;
  cursor:pointer;

  &.active {
    border-bottom: 4px solid $primary;
  }
}