///Avatars
//sm
//md
//lg
//xl
//xxl


.avatar {
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 50%;
	display: inline-block;
	background: $gray-400 no-repeat center/cover;
	position: relative;
	text-align: center;
	color: $gray-600;
	font-weight: 600;
	vertical-align: bottom;
	font-size: .875rem;
	user-select: none;

	i {
		font-size: 125%;
		vertical-align: sub;
	}
}

.avatar-square{
	border-radius: 0;
	background: transparent;
}

.avatar-sm {
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: .75rem;
}

.avatar-md {
	width: 2.3rem;
	height: 2.3rem;
	line-height: 2.5rem;
	font-size: 1rem;
}

.avatar-lg {
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.25rem;
}

.avatar-xl {
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.75rem;
}

.avatar-xxl {
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	font-size: 2rem;
}

@each $vendor, $color in $colors {
	.avatar-#{$vendor} {
		background-color: mix($color, #fff, 30%);
		color: $color;
	}
}