//
// Base styles
//
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    max-height: 52px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: $banner-padding-y $banner-padding-x;
    margin-bottom: $banner-margin-bottom;
}
.banner-text{
    font-weight: $banner-font-weight;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 0 1 auto;
    overflow: hidden;
}

// Provide class for links that match banner
.banner-link {
    //font-weight: $alert-link-font-weight;
    text-decoration: underline;
}

// Dismissible banner
//
// Expand the right padding and account for the close button's positioning.
.banner-dismissible {
    padding-right: ($banner-close-icon + $banner-padding-x * 2); // Adjust close link position
    .close {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: ($banner-close-icon + $banner-padding-x);
        padding: $alert-padding-y $alert-padding-x;
        color: inherit;
        font-size: $banner-close-icon;
        @include hover-focus {
            color:inherit;
        }
    }
}


// Alternate styles
//
// Generate contextual modifier classes for colorizing the banner.
@each $color,
$value in $theme-colors {
    .banner-#{$color} {
      @if $color != 'link'{
        @include banner-variant($value);
      }
    }
}