// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $input-btn-border-width solid transparent;
  @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $input-btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $input-btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: .65;
    cursor: not-allowed;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active {
    background-image: none;
    @include box-shadow($input-btn-focus-box-shadow, $btn-active-box-shadow);
  }

  i{
    font-size: 1.3rem;
    vertical-align: middle;
    margin-right: 0.2em;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);

    //Flat buttons
    &.btn-flat {
      @include button-flat-variant($value);
      border: none;
      box-shadow: none;
      @if $color == "secondary" {
        color: color-yiq($value);
      }
    }

    //Disabled button
    &.btn-disabled {
      @include button-disabled-variant($value);
      cursor: not-allowed !important;
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @if $color == "light" {
      @include button-outline-variant($value, $gray-900);
    } @else {
      @include button-outline-variant($value, $white);
    }
    @if $color == "secondary" {
      color: color-yiq($value);
    }

    &:hover {
      @if $color == "secondary" {
        color: color-yiq($value);
      }
    }
  }
}

// Button pills
.btn-pill {
  border-radius: 100px;
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  background-color: transparent;

  @include hover {
    color: $link-hover-color;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
  }
  
  &:hover{
    text-decoration: underline;
  }
  &:focus,
  &.focus {
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }
  // No need for an active state here
}

// Inverse button
.btn-inverse{
  // color: $blue-600;
  font-weight: normal;
  background: none;
  &:hover{
    background: $gray-000;
  }
  &.active{
    background: $gray-000;
    box-shadow: none !important;
  }
  &:focus{
    box-shadow: none !important;
  }
}
 //Toggle button
 .btn-toggle{
  font-weight: normal;
  background: none;
  &.active{
    color: $blue-600;
    background: none;
    box-shadow: none !important;
  }
}

//
// Floating buttons
//


.btn-icon {
  background-color: transparent;
  color: $gray-600;
  text-align: center;
  border-radius: 50% !important;
  padding: 0.4em 0.5em !important;
  
    @include hover {
      background-color: $gray-000;  
      border-color: transparent;
      color: $gray-800;
    }

    &.focus,
    &:focus {
      background-color: $blue-000;
      border-color: transparent;
      box-shadow: 0 0 0 .1rem $blue-200;
    }
    
    + .btn-md{
      width: 34px;
      padding: 0.42em 0.5em !important;
    }
    + .btn-lg{
      width: 42px;
      padding: 0.42em 0.5em !important;
    }
    
  i{
    display: block;
    margin-right: 0;
  }

}

//
// Button Sizes
//

.btn-lg {
  @include button-size($input-btn-padding-y-lg, $input-btn-padding-x-lg, $font-size-lg, $input-btn-line-height-lg, $btn-border-radius-lg);
  i{
    font-size: 1.6rem;
    vertical-align: middle;
    margin-right: 0.2em;
  }
}

.btn-sm {
  @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $input-btn-line-height-sm, $btn-border-radius-sm);
  i{
    font-size: 1rem;
  }
}

.btn-wide{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
//
// Block button
//

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: $btn-block-spacing-y;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

//Login button
.btn-login {
  background-color: $aqua-500;
  color: $white;

  .btn-login-text {
    vertical-align: middle;
    margin-left: 8px;
  }
}

//Login button for agents: Google and Gthub
  
  .btn-google {
    color: $gray-700;
    background-color: $white;
    border-color: $gray-100;
    width: 100%;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;

  &:hover {
    box-shadow: 0 3px 8px 0 $gray-200;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }

  .btn-login-text {
    vertical-align: middle;
    margin-left: 8px;
    color: $gray-700;
  }

  img {
    float: left;
    margin-top: 4px;
  }

  }
  .btn-github {
    color: $white;
    background-color: $btn-github;
    width: 100%;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;

  &:hover {
    box-shadow: 0 3px 8px 0 $gray-200;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }

  .btn-login-text {
    vertical-align: middle;
    margin-left: 8px;
    color: $white;
  }

  img {
    float: left;
    margin-top: 4px;
  }

  }

// Highlight button
.btn-highlight{
  background: $gray-000;
  border: 1px solid $gray-000;
  border-radius: 4px;
  color: $primary;
  
  &:hover{
    background: $blue-000;
  }
}