.chooser-card {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  list-style: none;
  padding: 0;

  .chooser-card-item {
    background-color: $chooser-card-item-background;
    border: $border-width solid $gray-100;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 10px 20px 10px 0px;
    text-align: center;
    width: $chooser-card-item-width;
    box-shadow: $chooser-card-item-box-shadow;
    border-radius: $chooser-card-item-radius;
    padding: $chooser-card-item-padding;

    .chooser-card-head {
      font-size: $chooser-card-head-font-size;
      padding: $chooser-card-head-padding;
    }
    
    .chooser-card-logo{
      height: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .chooser-card-body{
      border-top: 1px solid rgba($chooser-card-item-body-border, 0.4);
      overflow: hidden;
      padding: 10px 6px;
      text-overflow: ellipsis;

      .chooser-card-label{
        font-size: $chooser-card-label-font-size;
        color: $chooser-card-item-label-color;
        padding: 0;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  
    &:hover {
      border-radius: $chooser-card-item-radius;
      position: relative;
      box-shadow: $chooser-card-item-box-shadow;

      &::after{
        content: '';
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        left: 0;
        top: 0;
        border: $chooser-card-item-hover-border;
        box-sizing: border-box;
        filter: blur(1px);
        border-radius: $chooser-card-item-radius;
      }
    }
  
    &.active, &:active {
      border: $chooser-card-item-active-border;
      box-sizing: border-box;
      box-shadow: $chooser-card-item-box-shadow;

      &:hover {
        position: relative;
  
        &::after{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          display: none; // Hides hover effect for active element
        }
      }
    }

    &.disabled {
      opacity: 0.6;
      pointer-events: none;
      background: $gray-300;
    }
  } 
  &.chooser-card-wide{
    .chooser-card-item{
       width: 300px;
    
      .chooser-card-body{
        .chooser-card-label{
          font-size:14px;
        }
      }
     
   }
  }
}