.tab-chooser {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  list-style: none;
  padding: 0;
  .tab-chooser-name {
    margin: 5px 0;

    h5 {
      font-size: 16px;
    }
  }
}
.tab-chooser-lg{
  .tab-chooser-item{
    font-size:1rem;
    width: 31.33%;
    &:nth-child(3n){
      margin-right:0
    }
    >div{
      padding:10px;
    }
    .tab-chooser-label{
      font-size:1rem;
    }
  }  
}
.tab-chooser-item {
  background-color: $tab-chooser-item-background;
  border: $border-width solid $gray-100;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  margin: 4px;
  text-align: center;
  width: $tab-chooser-item-width;

  .tab-chooser-head {
    font-size: 16px;
  }

  span {
    font-size: 14px;
    margin-bottom: 10px;
    color: $gray-700;
    display: inline-block;
  }

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    background-color: $gray-000;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  &.active {
    background: $tab-chooser-item-background-active;
    border-color: $primary;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);

    .tab-chooser-label {
      border-color: $tab-chooser-item-label-border-color-active;
      color: $tab-chooser-item-label-color-active;
    }
  }
  &.tab-chooser-col-5 {
    width: 20%;
  }
}
.tab-chooser-item.disabled{
  pointer-events: none;
  opacity: .5;
}
.tab-chooser-logo {
  padding: 8px 4px;
  span{
    height: 2.5rem;
    width: 2.5rem;
    margin:15px 0;
  }
  img {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.tab-chooser-label {
  border-top: $tab-chooser-item-label-border;
  overflow: hidden;
  padding: 4px;
  text-overflow: ellipsis;
  font-size: 12px;
}

.tab-chooser-disabled-item {
  background-color: $tab-chooser-item-background;
  border: $border-width solid $gray-100;
  border-radius: 4px;
  cursor: not-allowed;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  margin: 4px;
  text-align: center;
  width: $tab-chooser-item-width;

  &:first-child {
    margin-left: 0;
  }
}

.tab-chooser.with-bg .tab-chooser-item{
  background:$blue-000
}
.tab-chooser.with-bg .tab-chooser-item.active {
  background: $blue-800;
  border-color: $blue-800;
}
.with-bg .tab-chooser-item.active .avatar{
  background-color: $white;
}
.with-bg .tab-chooser-item.active .tab-chooser-label{
  color: $white;
  border-color: $white;
}

.tab-chooser {
  .editfieldSection {
    font-size: 12px;
    margin-top: 10px;

    label {
        margin: 0;
        text-align: left;
        width: 100%;
        color: $gray-500;
    }

    .editablefield {
        position: relative;

        input {
            padding: 5px 20px;
            width: 100%;
            text-align: center;
        }

        .minus,
        .plus {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 20px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .minus {
            left: 0;
        }

        .plus {
            right: 0;
        }
    }
  }
}