// Inline and block code styles
code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
}

// Inline code
code {
  padding: $code-padding-y $code-padding-x;
  font-size: $code-font-size;
  color: $gray-800;
  background-color: $blue-000;
  @include border-radius($border-radius);

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    padding: 0;
    color: inherit;
    background-color: inherit;
  }
}

// User input typically entered via keyboard
kbd {
  padding: $code-padding-y $code-padding-x;
  font-size: $code-font-size;
  color: $kbd-color;
  background-color: $kbd-bg;
  @include border-radius($border-radius-sm);
  @include box-shadow($kbd-box-shadow);

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: $nested-kbd-font-weight;
    @include box-shadow(none);
  }
}

// Blocks of code
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: $code-font-size;
  color: $pre-color;

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: $pre-scrollable-max-height;
  overflow-y: scroll;
}

.code-ray {
  padding: 10px 15px;
}

.code-wrapper {
  position: relative;
  border-radius: 4px;
  background: $code-bg;
  cursor: pointer;

  .copy-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.active-code-block {
  box-shadow: 0 0 0 2px $active-code-block-shadow;
  transition: box-shadow 0.2s ease-out;
}

.copy-block-text {
  background-color: $blue-000 !important;
  color: $gray-800 !important;
  font-family: $font-family-monospace;
  font-size: 14px !important;
  word-break: break-word;
  padding: 20px !important;
  max-height: 160px;
  cursor: pointer;
  resize: none;
}

.code-hovered_hidden {
  transition: opacity 300ms ease;
  opacity: 0;
}

.code-hovered_visible {
  transition: opacity 300ms ease;
  opacity: 10;
}

/*Copy to clip*/
.copy-label {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.btn-clipboard {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}