.drawer {
  animation: antdDrawerFadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
  height: 0%;
  right: 0;
  position: fixed;
  top: 0;
  width: 0%;
  z-index: 1200;
  @-webkit-keyframes antdDrawerFadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  @keyframes antdDrawerFadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &__backdrop {
    background: rgba($gray-500,0.55);
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__content-wrapper {
    height: 100%;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    width: 480px;
  }

  &__content {
    position: relative;
    background-color: $white;
    height: 100%;
  }

  &__content-body {
    height: 100%;
    overflow: auto;
    box-shadow: 0 0 10px 0 rgba($gray-100,0.50);
  }
}
// Positions

.drawer-right {
  right: 0;

  .drawer__content-wrapper {
    right: 0;
  }
}

.drawer-left {
  left: 0;

  .drawer__content-wrapper {
    left: 0;
  }
}

.drawer-header {
  border-bottom: 1px solid $gray-100;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: $white;
  padding: 14px 12px;

  &__title {
    color: $gray-700;
    font-size: 18px;
    font-weight: bold;
  }
}

.drawer-body {
  padding: 14px 14px 52px;
}
// Footer for actions(Close, Save)

.drawer-footer {
  border-top: 1px solid $gray-100;
  bottom: 0;
  width: 100%;
  position: absolute;
  background-color: gray;
  padding: 14px 16px;
  background: rgb(255, 255, 255);
}

.drawer > * {
  transition: -webkit-transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), -webkit-box-shadow 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), box-shadow 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), -webkit-box-shadow 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}
// sizes
.drawer-sm {
  .drawer__content-wrapper {
    width: 320px;
  }
}
.drawer-md {
  .drawer__content-wrapper {
    width: 640px;
  }
}
.drawer-lg {
  .drawer__content-wrapper {
    width: 720px;
  }}
// open style
.drawer-open {
  height: 100%;
  width: 100%;

  .drawer__content-wrapper {
    transform: none;
  }
}
