// stylelint-disable selector-no-qualifying-type
//
// Textual form controls
//

.form-control {
  display: block;
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-base;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;
  box-shadow: none; //required for handling firefox required input issue
  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @if $enable-rounded {
    // Manually use the if/else instead of the mixin to account for iOS override
    border-radius: $input-border-radius;
  } @else {
    // Otherwise undo the iOS default
    border-radius: 0;
  }
  @include transition($input-transition);
  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  @include hover {
    border: $input-border-width solid $input-focus-border-color;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();
  // Placeholder
  &::placeholder {
    color: $input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }
  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
    cursor: not-allowed;
    border: $input-disabled-border;
    color: $input-disabled-color;
  }

}

select.form-control {

  &:focus::-ms-value {
    // Suppress the nested default white text on blue background highlight given to
    // the selected option text when the (still closed) <select> receives focus
    // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
    // match the appearance of the native widget.
    // See https://github.com/twbs/bootstrap/issues/19398.
    color: $input-color;
    background-color: $input-bg;
  }
}
// Make file inputs better match text inputs by forcing them to new lines.

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

//
// Labels
//

.form-control-label {
  color: $form-control-lable-text-color;
  font-size: $font-size-sm;
  margin-bottom: 4px;
}


// Success input
.form-group{
  &.success{
    .form-control{
      border: $input-border-width solid $form-control-success-color;
    }
    .small{
      color: $form-control-success-color;
    }
  }
}

// Errored input
.form-group{
  &.error{
    .form-control{
      border: $input-border-width solid $form-control-error-color;
    }
    .small{
      color: $form-control-error-color;
    }
  }
}
// For use with horizontal and inline forms, when you need the label (or legend)
// text to align with the form controls.

.col-form-label {
  padding-top: calc(#{$input-padding-y} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y} + #{$input-border-width});
  margin-bottom: 0; // Override the `<label>/<legend>` default
  font-size: inherit; // Override the `<legend>` default
  line-height: $input-line-height;
}

.col-form-label-lg {
  padding-top: calc(#{$input-padding-y-lg} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y-lg} + #{$input-border-width});
  font-size: $font-size-lg;
  line-height: $input-line-height-lg;
}

.col-form-label-sm {
  padding-top: calc(#{$input-padding-y-sm} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y-sm} + #{$input-border-width});
  font-size: $font-size-sm;
  line-height: $input-line-height-sm;
}
// Readonly controls as plain text
//
// Apply class to a readonly input to make it appear like regular plain
// text (without any border, background color, focus indicator)

.form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: $input-padding-y;
  padding-bottom: $input-padding-y;
  margin-bottom: 0; // match inputs if this class comes on inputs with default margins
  line-height: $input-line-height;
  background-color: transparent;
  border: solid transparent;
  border-width: $input-border-width 0;

  &.form-control-lg,
  &.form-control-sm {
    padding-right: 0;
    padding-left: 0;
  }
}
// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.
//
// The `.form-group-* form-control` variations are sadly duplicated to avoid the
// issue documented in https://github.com/twbs/bootstrap/issues/15074.

.form-control-sm {
  padding: $input-padding-y-sm $input-padding-x-sm;
  font-size: $font-size-sm;
  line-height: $input-line-height-sm;
  @include border-radius($input-border-radius-sm);
}

select.form-control-sm {
  &:not([size]):not([multiple]) {
    height: $input-height-sm;
  }
}

.form-control-lg {
  padding: $input-padding-y-lg $input-padding-x-lg;
  font-size: $font-size-lg;
  line-height: $input-line-height-lg;
  @include border-radius($input-border-radius-lg);
}

select.form-control-lg {
  &:not([size]):not([multiple]) {
    height: $input-height-lg;
  }
}
// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-group {
  margin-bottom: $form-group-margin-bottom;

  // Turn off spinners for contact number input
  &.hide-spinner{
    @include input-number-spinner-off;
  }
  .small, small{
    font-size: $form-group-font-size;
    color: $form-group-small-color;
  }
}

.form-text {
  display: block;
  margin-top: $form-text-margin-top;
}
// Form grid
//
// Special replacement for our grid system's `.row` for tighter form layouts.

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;

  > [class*="col-"],
   > .col {
    padding-right: 5px;
    padding-left: 5px;
  }
}
//counter input fields
//

.counter-input {
  position: relative;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle; // match .btn alignment given font-size hack above
  border: $counter-input-border;
  border-radius: 4px;

  > .btn {
    position: relative;
    flex: 1 1 auto;
    background: $white;
    color: $counter-input-btn-color;
    min-width: unset;
    border-radius: 4px;
    padding: 0.35rem 0.5rem;
    // Bring the hover, focused, and "active" buttons to the front to overlay
    // the borders properly
    @include hover {
      background: $counter-input-hover-background-color;
      z-index: 1;
      color: $counter-input-hover-color;
    }

    &.active,
    &:active,
    &:focus {
      z-index: 1;
    }
  }
  // Prevent double borders when buttons are next to each other
  > .btn:not(:first-child),
  > .btn-group:not(:first-child) {
    margin-left: -$btn-border-width;
  }
  // Reset rounded corners

  > .btn:first-child,
  > .btn-group:first-child > .btn{
    @include border-right-radius(0);
  }

  > .btn:last-child:not(.dropdown-toggle),
  > .btn-group:last-child > .btn{
    @include border-left-radius(0);
  }

  > .btn:not(:first-child),
  > .btn-group:not(:first-child) > .btn {
    @include border-left-radius(0);
  }

  .btn:not([disabled]):not(.disabled).active, .btn:not([disabled]):not(.disabled):active,
  .btn:not([disabled]):not(.disabled).focus, .btn:not([disabled]):not(.disabled):focus {
    background-image: none;
    background: $counter-input-active-background-color;
    box-shadow: $counter-input-active-box-shadow;
  }
  .form-control {
    box-shadow: none;
    text-align: center;
    @include border-right-radius(0);
    @include border-left-radius(0);
    border: 0px;
  }

  // turn off the number input spinners
  @include input-number-spinner-off;

  .counter-input-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-left: $counter-input-select-border-color;
    min-width: 50px;
    //https://stackoverflow.com/a/60236111
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
  }
}
//sizes
//

.chooser-input-lg {
  .form-control {
    font-size: $font-size-lg;
    line-height: $input-line-height-lg;
  }

  .counter-input-select {
    height: 100% !important;
  }
}
//advaced input fields
// Search icon with input

.input-search-icon_wrapper {
  position: relative;
  .input-search-icon {
    position: absolute;
    float: right;
    right: 8px;
    top: 5px;
    width: 18px;
    height: 32px;
    background: $input-search-icon-bg;
    background-position-y: center;
    background-repeat: no-repeat;
  }
  &.error{
    .form-control {
      border: $input-border-width solid $form-control-error-color;
    }
  }
}
// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.form-check {
  position: relative;
  display: block;
  padding-left: $form-check-input-gutter;
}

.form-check-input {
  position: absolute;
  margin-top: $form-check-input-margin-y;
  margin-left: -$form-check-input-gutter;

  &:disabled ~ .form-check-label {
    color: $text-muted;
  }
}

.form-check-label {
  margin-bottom: 0; // Override default `<label>` bottom margin
}

.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0; // Override base .form-check
  margin-right: $form-check-inline-margin-x;
  // Undo .form-check-input defaults and add some `margin-right`.
  .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: $form-check-inline-input-margin-x;
    margin-left: 0;
  }
}
// Form validation
//
// Provide feedback to users when form field values are valid or invalid. Works
// primarily for client-side validation via scoped `:invalid` and `:valid`
// pseudo-classes but also includes `.is-invalid` and `.is-valid` classes for
// server side validation.
@include form-validation-state("valid", $form-feedback-valid-color);
@include form-validation-state("invalid", $form-feedback-invalid-color); // Inline forms
//
// Make forms appear inline(-block) by adding the `.form-inline` class. Inline
// forms begin stacked on extra small (mobile) devices and then go inline when
// viewports reach <768px.
//
// Requires wrapping inputs and labels with `.form-group` for proper display of
// default HTML form controls and our custom form controls (e.g., input groups).

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center; // Prevent shorter elements from growing to same height as others (e.g., small buttons growing to normal sized button height)
  // Because we use flex, the initial sizing of checkboxes is collapsed and
  // doesn't occupy the full-width (which is what we want for xs grid tier),
  // so we force that here.
  .form-check {
    width: 100%;
  }
  // Kick in the inline
  @include media-breakpoint-up(sm) {
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 4px;
    }
    // Inline-block all the things for "inline"
    .form-group {
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 0;
    }
    // Allow folks to *not* use `.form-group`
    .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
      margin: 0 7px;
    }
    // Make static controls behave like regular ones
    .form-control-plaintext {
      display: inline-block;
    }

    .input-group {
      width: auto;
    }
    // Remove default margin on radios/checkboxes that were used for stacking, and
    // then undo the floating of radios and checkboxes to match.
    .form-check {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      padding-left: 0;
    }

    .form-check-input {
      position: relative;
      margin-top: 0;
      margin-right: $form-check-input-margin-x;
      margin-left: 0;
    }

    .custom-control {
      align-items: center;
      justify-content: center;
    }

    .custom-control-label {
      margin-bottom: 0;
    }
  }
}

// Toggle switch


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 55px;
  height: 30px;
  background-color: $gray-100;
  margin: 0 10px;
  vertical-align: middle;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 2px;
  top: 2px;
  bottom: 0;
  background-color: $white;
  vertical-align: middle;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $green-200;
}

input:focus + .slider {
  box-shadow: 0 0 1px $green-200;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


// dropdown input field
.input-field{
  &_wrapper{
    position: relative; 
  }
  &_dropdown{
    position: absolute;
    float: right;
    right: 27px;
    top: 9px;
    background-position-y: center;
    background-repeat: no-repeat;
    &_content{
      align-items: center;
      cursor: pointer;
      color: $form-dropdown-input-content-color;
      font-size: 14px;
      display: flex;
    }
  }
}

