// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff

.modal-overlay {
  background-color: $modal-backdrop-bg;
  backdrop-filter: blur(1.5px); // Blurs the background
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-modal;

  &.modal-closed {
    z-index: -10;
    opacity: 0;
  }

  &.modal-open {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;

    .modal-container {
      max-height: 100%;
      transition: max-height 0.25s ease-in-out;
    }
  }
}
// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}
// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: hidden; // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0; // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695
  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    transform: translate(0, -25%);
  }

  &.show .modal-dialog {
    transform: translate(0, 0);
  }
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  margin: $modal-dialog-margin; // allow clicks to pass through for custom click handling to close modal
  pointer-events: none;

  &.modal-justify-center {
    display: flex;
    min-height: 100vh;
    align-items: center;
    margin: 0 auto;
  }
  &.modal-full-width{
    .modal-content{
      width: 100%;
    }
  }

}
// Actual modal
.modal-content {
  max-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column; // counteract the pointer-events: none; in the .modal-dialog
  pointer-events: auto;
  background-color: $modal-content-bg;
  background-clip: padding-box;
  outline: 0;
  box-shadow: -4px 2px 27px 11px rgba(36, 65, 122, 0.03);
  border-radius: 8px;
}
// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  background-color: $modal-backdrop-bg; // Fade for backdrop

  &.fade {
    opacity: 0;
  }

  &.show {
    opacity: $modal-backdrop-opacity;
  }
}
// Modal header
// Top section of the modal w/ title and dismiss

.modal-header {
  display: block;
  padding: $modal-header-padding;
  border-bottom: 0px;
  .btn-icon {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.modal-header-border {
  border-bottom: $modal-header-border-width solid $modal-header-border-color;
}
// Title text within header
.modal-title {
  margin-bottom: 0;
  line-height: $modal-title-line-height;
  font-size: 26px;
  font-weight: 600;
  color: $modal-title-color;
  text-align: center;
}

.modal-sub-title {
  font-size: 18px;
  padding-top: $modal-sub-title-padding;
  color: $modal-sub-title-color;
  text-align: center;
}
// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)

.modal-body {
  overflow: auto;
  position: relative; // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when should there be a fixed height on `.modal-dialog`.
  flex: 1 1 auto;
  padding: $modal-body-padding;
  -ms-word-break: break-word;
  word-break: break-word;
  text-align: center;
}
// Footer (for actions)
.modal-footer {
  display: block;
  padding: $modal-footer-padding;
  border-top: 0px;
  margin: auto;

  > :not(:first-child) {
    margin-left: 0.25rem;
  }

  > :not(:last-child) {
    margin-right: 0.25rem;
  }
  .btn{
    display: block;
    margin: auto;
  }
}

.modal-footer-border {
  border-top: $modal-footer-border-width solid $modal-footer-border-color;
}
// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.modal-pointer{
  cursor:pointer;
}


// Sizes


.modal, .modal-md{
  .modal-dialog {
    max-width: 700px;
  }
}
.modal-sm{
  .modal-dialog{
    max-width: 550px;
  }
}

.modal-lg{
  .modal-dialog{
    max-width: 900px;
  }
}

//modal with shell terminal
.modal-content.terminal{
  background-color: $black;
  .modal-header{
    background-color: $modal-terminal-headear-background-color;
  }
  .modal-title{
    color: $white;
    font-size: 14px;
    font-weight: normal;
  }
}