@keyframes progress-bar-stripes {
  from {
    background-position: $progress-height 0;
  }

  to {
    background-position: 0 0;
  }
}


.progress {
  background-color: $progress-bg;
  border: $progress-border;
  border-radius: $progress-border-radius;
  display: flex;
  height: $progress-height;
  overflow: hidden; // force rounded corners by cropping it
  font-size: $progress-font-size;

  .progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $progress-bar-color;
    background-color: $progress-bar-bg;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    transition-property: width;
    transition-duration: 2s;
    -webkit-transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  
}

.donut {
  position: sticky;
}

.donut-segment {
  animation-name: fill-in;
  animation-fill-mode: forwards;
  animation-duration: 5000ms;
  /*   opacity: 0; */
}

@keyframes fill-in {
  from {
    /*     opacity: 0; */
    stroke-dashoffset: 0;
  }

  to {
    /*     opacity: 1; */
  }
}

.custom-slider-thumb {
  appearance: none;
  width: 30px;
  top: -6px;
  height: 25px;
  position: absolute;
  background: $custom-slider-thumb-background;
  color: $custom-slider-thumb-color;
  padding-top: 5px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}
.custom-slider-bar {
display: block;
position: relative;
width: 100%;
height: 15px;
padding: 0;
background: linear-gradient(90.01deg, $custom-slider-bar-background 20.16%, rgba(53, 222, 161, 0.78) 64.5%, rgba(75, 202, 156, 0) 100.12%);
border-radius: 8.5px;
box-sizing: content-box;
}