.max {
    width: 246px;

    .link-text {
        display: inline;
    }
}

.min {
    width: 65px;

    .link-text {
        display: none;
    }
}
.sidebar {
    height: 100%;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    transition-property: height;
    position: fixed;
    left: 0;
    width: inherit;
    z-index: 300;
    background: $sidebar-background-color;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    flex-direction: row;
    white-space: nowrap;

    .sidebar-logo {
        padding: 20px 14px;
        cursor: pointer;
        max-height: 100px;
        text-align: center;
    
        img {
            height: $sidebar-logo-image-height;
            width: $sidebar-logo-image-width;
        }

    }

    .sidebar-divider {
        border-bottom: 1px solid $sidebar-divider-border-color;
        margin: 0 10px;
    }

    .sidebar-header {
        align-items: center;
        cursor: pointer;
        display: flex;
        margin: 16px 12px;
    
        .sidebar-project-icon {
            display: flex;
            height: 34px;
            min-width: 34px;
            border-radius: 4px;
            background: $cluster-location_avatar-bg;
            align-items: center;
            justify-content: center;
            color: $gray-700;
    
            .mi {
                font-size: 24px;
            }
        }
        
        .sidebar-cluster-icon {
            height: auto;
            min-width: 34px;
            max-width: 54px;
            border-radius: 4px;
            background: $cluster-location_avatar-clusterLevel-bg;
            text-align: center;

            img{
                width: 100%;
            }
        }
    
        .sidebar-header-content {
            color: $sidebar-header-color;
            padding-left: 16px;
            width: 100%;
        }
    
        .sidebar-header-sub-heading {
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 160px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    
        .sidebar-header-item-cluster_name {
            font-size: 18px;
            display: inline-flex;
        }
    
    
        .sidebar-header-item-control {
            margin-left: 8px;
            opacity: 0;
            -webkit-transition-duration: 0.1s;
            /* Safari */
            -webkit-transition-delay: 0.1s;
            /* Safari */
            transition-delay: 0.1s;
            transition-duration: 0.1s;
        }
    
        .sidebar-header-item-project_name:hover {
            .sidebar-header-item-control {
                opacity: 1;
            }
        }
    }
    .dropdown-menu{
            &.active-clusters{
            transform: none !important;
            background: $blue-900;
            position: fixed !important;
            top:60px !important;
            left: 248px !important;
            color: $white;
            text-align: center;
            width: 180px;
            padding: 8px 0px 0px 0px;

            .circle:before {
                content: ' \25CF';
                font-size: 16px;
                color: $green-200;
            }
            .dropdown-menu-title{
                font-size: 15px;
                font-weight: bold;
                padding: 0px 10px 10px;
            }
            .sidebar-dropdown-cluster-icon{
                height: auto;
                width: 24px;
                border-radius: 15px;
                background: $cluster-location_avatar-clusterLevel-bg;
                text-align: center;
                margin: 2px 16px 2px 0px;
        
                img{
                    width: 100%;
                }
            }
            .link-text{
                align-items: center;
                justify-content: space-between;
                max-width: 105px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .dropdown-menu-footer{
                .sidebar-items{
                    padding: 8px;
                    margin: 0px;
                }
            }
        }
    }
    .sidebar-body{
        -webkit-box-flex: 1;
        flex-shrink: 1;
        flex-basis: 0;
        flex-shrink: 0;
        opacity: 1;
        transition-duration: 200ms, 200ms;
        transition-timing-function: initial, initial;
        transition-delay: initial, initial;
        transition-property: height, opacity;
        margin: 16px 0px;        
    }

    .sidebar-items {
        margin: 3px 0px;
        color: $sidebar-items-color;
        align-items: center;
        cursor: pointer;
        
        .sidebar-icon{
            margin-right: 16px;

            img{
                height: 22px;
                width: 22px;
                color: $white;
                margin: 0px 12px 0px 0px;
            }
        }
        i {
            font-size: 22px;
        }  
        
        .active {
            background-color: $sidebar-items-background-color-active;
            color: $sidebar-items-color-active;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &:hover {
            background-color: $sidebar-items-background-color-hover;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            color: $sidebar-items-color-hover;
            text-decoration: none;
            .collapse{
               background-color: $blue-900;
            }
        }

        .sidebar-links{
            display: flex;
            align-items: center;
            color: $sidebar-items-color;
            text-decoration: none;
            padding: 3px 10px;
        }
        .link-text {
            font-size: 14px;
        }
        .collapsing{
            background: $blue-900;
        }
        .collapse{
            background: transparent;
            padding: 2px 10px;
            ul{
                margin-bottom: 0;
                list-style-type: none;
                li{
                    padding: 5px 0px;
                    a{
                        color: inherit;
                        text-decoration: none;
                    }
                    &.active{
                        font-weight: bold;
                        background: transparent;
                    }
                }
            }
            &.show {
            display: flex;
            vertical-align: middle;
            align-items: center;
            }
            &:hover{
                background: $blue-900;
            }
        }
    }
    
    .sidebar-footer{
        margin: 16px 0px;

        .text-center{
            padding:0.2rem 18px;
        }
    }
}

/**
* Mobile sidebar
**/
.sidebar-mobile {
    min-width: 300px;
    background: $black;
    position: absolute;
    height: 100vh;
    left: 0;
    z-index: 100;
  }

.sidebar-mobile .sidebar-mobile-container {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    color: $white;
  }

.nav-sidebar .nav-link {
    color: $white;
    padding: 0.7rem 0;
  }

// Cluster page
.sidebar-plan-card {
    background: $white;
    border-radius: 2px;
    color: $gray-700;
    cursor: pointer;
    margin: 16px;
    padding: 8px;
    white-space: normal;
  }

  .sidebar-plan-card_header {
    border-bottom: 1px solid $gray-700;
    margin-bottom: 6px;
    padding-bottom: 6px;
  }

.sidebar-cluster{
    display: flex;

    .sidebar-header{
        margin: 12px 5px;
        float: left;

        .sidebar-header-content {
            padding-left: 10px;
        }
    }

    .project{
        width: 20%;
        background: $blue-800;
        border-right: 1px solid $white;
        height:120vh;
    
        .sidebar-logo{
            padding: 20px 7px;
        }
        .sidebar-header {
            margin: 16px 6px;
            .sidebar-header-content{
                display: none;
            }
        }
        .link-text{
            visibility: hidden;
        }
        .sidebar-footer{
            .text-center{
                display: none;
            }
        }

        &:hover{
            width: 81%;
            
            .sidebar-header {
                .sidebar-header-content{
                    display: unset;
                }
            }
            .link-text{
                visibility: visible;
            }
            .sidebar-footer{
                .text-center{
                    display: block;
                }
            }
            
        }
    }
    
    .cluster{
        width: 80%;
        background: $sidebar-background-color;
        overflow-x: hidden;
    
        .btn-icon{
            background: transparent;
            padding: 0px;
            color: $white;
            float: left;
        }
        .sidebar-logo {
            padding: 20px 10px;
        }
            
        .sidebar-header{
            .dropdown{
            display: inline-block;
            }
        }
        .sidebar-header-sub-heading {
            max-width: 108px !important;
            display: inline-block !important;
            width: 100%;
        }
        
        .sidebar-body{
            &:first-child {
                flex: 1 1 100%;
            }
        }
        .hide{
            display: none;
        }
    }
}

.de-code{
    .sidebar {
        position: unset;
        left: unset;
        margin-bottom: 10px;

        .project{
            &:hover{
                height:140vh;
            }
        }
    }
}