.max {
    width: 246px;

    .link-text {
        display: inline;
    }
}

.min {
    width: 65px;

    .link-text {
        display: none;
    }
}
.sidebar {
    height: 100%;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    transition-property: height;
    // position: fixed;
    // left: 0;
    width: inherit;
    z-index: 300;
    background: $sidebar-background-color;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    flex-direction: row;
    white-space: nowrap;

    .sidebar-logo {
        padding: 20px 14px;
        cursor: pointer;
        max-height: 100px;
        text-align: center;
    
        img {
            height: $sidebar-logo-image-height;
            width: $sidebar-logo-image-width;
        }

    }

    .sidebar-divider {
        border-bottom: 1px solid $sidebar-divider-border-color;
        margin: 0 10px;
    }

    .sidebar-header {
        align-items: center;
        cursor: pointer;
        display: flex;
        margin: 16px 12px;
    
        .sidebar-project-icon {
            display: flex;
            height: 34px;
            min-width: 34px;
            border-radius: 4px;
            background: $cluster-location_avatar-bg;
            align-items: center;
            justify-content: center;
            color: $gray-700;
    
            .dci {
                font-size: 24px;
            }
        }
        
        .sidebar-cluster-icon {
            height: auto;
            min-width: 34px;
            max-width: 54px;
            border-radius: 4px;
            background: $cluster-location_avatar-clusterLevel-bg;
            text-align: center;

            img{
                width: 100%;
            }
        }
    
        .sidebar-header-content {
            color: $sidebar-header-color;
            padding-left: 16px;
            width: 100%;
        }
    
        .sidebar-header-sub-heading {
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 160px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    
        .sidebar-header-item-cluster_name {
            font-size: 18px;
            display: inline-flex;
        }
    
    
        .sidebar-header-item-control {
            margin-left: 8px;
            opacity: 0;
            -webkit-transition-duration: 0.1s;
            /* Safari */
            -webkit-transition-delay: 0.1s;
            /* Safari */
            transition-delay: 0.1s;
            transition-duration: 0.1s;
        }
    
        .sidebar-header-item-project_name:hover {
            .sidebar-header-item-control {
                opacity: 1;
            }
        }
    }

    .sidebar-body{
        -webkit-box-flex: 1;
        flex-shrink: 1;
        flex-basis: 0;
        flex-shrink: 0;
        opacity: 1;
        transition-duration: 200ms, 200ms;
        transition-timing-function: initial, initial;
        transition-delay: initial, initial;
        transition-property: height, opacity;
        margin: 16px 0px;        
    }

    .sidebar-items {
        margin: 3px 0px;
        color: $sidebar-items-color;
        align-items: center;
        cursor: pointer;
        
        .sidebar-icon{
            margin-right: 16px;

            img{
                height: 22px;
                width: 22px;
                color: $white;
                margin: 0px 6px 0px 0px;
            }
        }
        i {
            font-size: 22px;
        }  
        
        .active {
            background-color: $sidebar-items-background-color-active;
            color: $sidebar-items-color-active;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &:hover {
            background-color: $sidebar-items-background-color-hover;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            color: $sidebar-items-color-hover;
            text-decoration: none;
        }

        .sidebar-links{
            display: flex;
            align-items: center;
            color: $sidebar-items-color;
            text-decoration: none;
            padding: 3px 10px;
        }
        .link-text {
            font-size: 14px;
        }
    }

    .sidebar-footer{
        margin: 16px 0px;

        .text-center{
            padding:0.2rem 18px;
        }
    }
}

/**
* Mobile sidebar
**/
.sidebar-mobile {
    min-width: 300px;
    background: $black;
    position: absolute;
    height: 100vh;
    left: 0;
    z-index: 100;
  }

.sidebar-mobile .sidebar-mobile-container {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    color: $white;
  }

.nav-sidebar .nav-link {
    color: $white;
    padding: 0.7rem 0;
  }

// Cluster page
.sidebar-plan-card {
    background: $white;
    border-radius: 2px;
    color: $gray-700;
    cursor: pointer;
    margin: 16px;
    padding: 8px;
    white-space: normal;
  }

  .sidebar-plan-card_header {
    border-bottom: 1px solid $gray-700;
    margin-bottom: 6px;
    padding-bottom: 6px;
  }

.sidebar-cluster{
    display: flex;

    .sidebar-header{
        margin: 16px 5px;

        .sidebar-header-content {
            padding-left: 10px;
        }
    }

    .project{
        width: 20%;
        background: $blue-800;
    
        .sidebar-logo{
            padding: 20px 7px;
        }
        .sidebar-header {
            margin: 16px 6px;
        }
        .sidebar-header {
            .sidebar-header-content{
                display: none;
            }
        }
        .link-text{
            visibility: hidden;
        }
        .sidebar-footer{
            .text-center{
                display: none;
            }
        }

        &:hover{
            width: 81%;
            
            .sidebar-header {
                .sidebar-header-content{
                    display: unset;
                }
            }
            .link-text{
                visibility: visible;
            }
            .sidebar-footer{
                .text-center{
                    display: block;
                }
            }
            
        }
    }
    
    .cluster{
        width: 80%;
        background: $sidebar-background-color;
        border-left: 1px solid $white;
        overflow-x: hidden;
    
        .btn-icon{
            background: transparent;
            padding: 0px;
            color: $white;
            float: left;
            padding: 0px !important; /* To be removed once icons are updated. Also btn-lg class should be added*/
        }
        .sidebar-logo {
            padding: 20px 10px;
        }
            
        .sidebar-header{
            .dropdown{
            display: inline-block;
            }
        }
        .sidebar-header-sub-heading {
            max-width: 108px !important;
            display: inline-block !important;
            width: 100%;
        }
        
        .sidebar-body{
            &:first-child {
                flex: 1 1 100%;
            }
        }
        .hide{
            display: none;
        }
    }
}