.loader {
    border: 2px solid $gray-000;
    border-radius: 50%;
    border-top: 2px solid $blue-500;
    width: 44px;
    height: 44px;
    -webkit-animation: spin 1s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
    animation: spin 1s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
  }
  
  .loading-logo {
    margin-top: -44px;
    width :auto;
  }
  .loading-logo img {
    height:44px;
    width:auto;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
 .style {
    margin-left: auto;
    margin-right: auto;

    width: 3em ;

 }
 .small {margin: 10px;
    .loader {
        
        width: 24px;
        height: 24px;
       
      }
      .loading-logo {
        margin-top: -24px;
    }
    .loading-logo img {
        height:24px;
        width:auto;
      }

}
.medium{ margin: 10px;
    .loader {
       
        width: 44px;
        height: 44px;
     
      }
      
      .loading-logo {
        margin-top: -44px;
      }
      .loading-logo img {
        height:44px;
        width:auto;
      }

}
.large{ margin: 10px;
    .loader { 

        width: 64px;
        height: 64px;
       
      }
      
      .loading-logo { 
        margin-top: -64px;
      }
      .loading-logo img {
        height:64px;
        width:auto;
      }

}
.flex-container {
    display: flex;
  }
  