//
// Basic Bootstrap table
//

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  border-style: hidden;
  border-radius: $border-radius;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  thead{
    background: $table-thead-bg-color;
    th{
      border-bottom: 0px;
      font-size: 14px;
      color: $table-head-color;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
  td{
    font-size:16px;
    line-height: 24px;
  }
  td,
  th {
    padding: $table-cell-padding;
    vertical-align: middle;
    color: $table-body-color;
  }

  tbody+tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
    color: $table-head-color;
    background: transparent;
  }
}


//
// Condensed table w/ half padding
//

.table-sm {
  th,
  td {
    padding: $table-cell-padding-sm;
  }
}
table tr:nth-child(even) td{
  background-color: $table-row-color;
}
// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: (2 * $table-border-width);
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $table-accent-bg;
  }
}


// Avatar images in td
.table-avatar {
  display: flex;
  align-items: center;
  .table-avatar-image {
    width: 2.5rem;
    height: 2.5rem;
  }
  .table-avatar-sm {
    .table-avatar-image {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
  .table-avatar-label {
    color: $table-avatar-label-color;
    margin-left: 2px;
  }
  .not-a-link-label {
    color: $gray-600;

    &:hover {
      color: $gray-600 !important;
    }
  }
}

// Action bottons or links in row
.table-action {
  display: flex;
  flex-direction: row;
}
.table-action_item {
  margin: 0 8px;
}

.table-action_link {
  cursor: pointer;
}

// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

@each $color, $value in $theme-colors {
  @include table-row-variant($color, theme-color-level($color, -9));
}

@include table-row-variant(active, $table-active-bg);


// Dark styles
//
// Same table markup, but inverted color scheme: dark background and light text.

// stylelint-disable-next-line no-duplicate-selectors
.table {
  .thead-dark {
    th {
      color: $table-dark-color;
      background-color: $table-dark-bg;
      border-color: $table-dark-border-color;
    }
  }

  .thead-light {
    th {
      color: $table-head-color;
      background-color: $table-head-bg;
      border-color: $table-border-color;
    }
  }
}

.table-dark {
  color: $table-dark-color;
  background-color: $table-dark-bg;

  th,
  td,
  thead th {
    border-color: $table-dark-border-color;
  }

  &.table-bordered {
    border: 0;
  }

  &.table-striped {
    tbody tr:nth-of-type(odd) {
      background-color: $table-dark-accent-bg;
    }
  }

  &.table-hover {
    tbody tr {
      @include hover {
        background-color: $table-dark-hover-bg;
      }
    }
  }
}


// Responsive tables
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

.table-responsive {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057

        // Prevent double border on horizontal scroll due to use of `display: block;`
        > .table-bordered {
          border: 0;
        }
      }
    }
  }
}

 //  nested table:- 
.nested-table {
  .no-padding {
    padding: 0;
  }

  .table {
    margin-bottom: 0;
    background: $nested-table-background;
    box-shadow: $nested-table-shadow;
    border-radius: 0;

    thead {
      background: $nested-table-background;
      th {
        border-bottom: 0px;
        font-size: 14px;
        color: $table-head-color;
        font-weight: bold;
        text-transform: capitalize;
      }
      tbody {
        td {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}
