[tooltip]{
  margin:20px 60px;
  position:relative;
  display: inline-block;
}
[tooltip]::before {
    content: "";
    position: absolute;
    top:-2px;
    left:50%;
    transform: translateX(-50%);
    border-width: 5px 6px 0 6px;
    border-style: solid;
    border-color: rgba($tooltip-bg,$tooltip-opacity) transparent transparent transparent;
    z-index: 99;
    opacity:0;
}

[tooltip-position='left']::before{
  left:0%;
  top:50%;
  margin-left:-11px;
  border-width: 6px 7px 0 7px;
  transform:translatey(-50%) rotate(-90deg) 
}
[tooltip-position='top']::before{
  left:50%;
}
[tooltip-position='buttom']::before{
  top:100%;
  margin-top:4px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}
[tooltip-position='right']::before{
  left:100%;
  top:50%;
  margin-left:-2px;
  border-width: 6px 7px 0 7px;
  transform:translatey(-50%) rotate(90deg)
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-2px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba($tooltip-bg, $tooltip-opacity);
    text-align: center;
    color: $tooltip-color;
    font-size: 14px;
    font-family: inherit;
    min-width: $tooltip-width;
    border-radius: 4px;
    pointer-events: none;
    padding: 3px 5px 4px 5px;
    z-index:99;
    opacity:0;
}
// Tooltip positions
[tooltip-position='left']::after{
  left:0%;
  top:50%;
  margin-left:-7px;
  transform: translateX(-100%)   translateY(-50%);
}
[tooltip-position='top']::after{
  left:50%;
}
[tooltip-position='buttom']::after{
  top:100%;
  margin-top:4px;
  transform: translateX(-50%) translateY(0%);
}
[tooltip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:6px;
  transform: translateX(0%)   translateY(-50%);
}
// Tooltip widths
[tooltip-width='md']::after{
  width: $tooltip-width-md;
}
[tooltip-width='lg']::after{
  width: $tooltip-width-lg;
}

[tooltip]:hover::after,[tooltip]:hover::before {
   opacity:1
}