  .stepper-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
    text-align: center;

      &.stepper-indicator-step_mark {
          .stepper-indicator-step_mark__name {
            background-color: $gray-700;
            border-color: $gray-700;
          }
        }

    .stepper-indicator-step_mark {
        display: flex;
        flex-direction: row;
        flex: auto; 
    }
    .stepper-indicator-step_mark__line {
      background-color: $gray-100;
      margin-left:16px;
      height: 6px;
      width: -webkit-fill-available;
      width: -moz-available;
      margin-top: 16px;
    }
    
  .indicator-circle {
    background-color: $gray-100;
    border-radius: 50%;
    margin: 8px 0;
    height: 24px;
    width: 24px;
  }
  
  .stepper-content {
  .stepper-content-header {
    margin-bottom: 18px;
    .stepper-content-header_title {
      margin-bottom: 12px;
      .stepper-content-header_title__text {
        font-size: 36px;
      }
    }
  }
  .stepper-content-body {
    .stepper-content-body-node {
      margin-bottom: 32px;
      .stepper-content-body-node__text {
        font-style: italic;
      }
    }
  
  }
  }
}

 .list-items {
    list-style: none;
    padding-left: 16px;
    text-align: center;
    text-align: -webkit-center;
 }

 .indicator-active {
    .stepper-indicator-step_mark__circle {
      background-color: $primary;
    }
    .stepper-indicator-step_mark__line {
      background-color: $red-500;
    }
}

.indicator-circle-pending {
      background-color: $primary;
      border-radius: 50%;
      margin: 8px 0;
      height: 24px;
      width: 24px;
}

.indicator-pending {
.stepper-indicator-step_mark__line {
  background-color: $primary;
     }
}

 .indicator-circle-failed {
      background-color: $red-500;
      border-radius: 50%;
      margin: 8px 0;
      height: 24px;
      width: 24px;
    }

    .indicator-circle-completed{
      background-color: $blue-900;
      border-radius: 50%;
      margin: 8px 0;
      height: 24px;
      width: 24px;
      
    }

  .indicator-completed {

    .indicator-circle{
      background-color: $blue-900;
    }
    .stepper-indicator-step_mark__line{
      background-color: $blue-900;
    }
  }


  .indicator-completed-green {

    .indicator-circle{
      background-color: $green-500;
    }
    .stepper-indicator-step_mark__line{
      background-color: $blue-900;
    }
  }
   

.indicator-failed {

    .stepper-indicator-step_mark__circle {
      background-color: $red-500;
    }
    .stepper-indicator-step_mark__line {
      background-color: $blue-900;
    }
  }

.indicator-default {
 
    .stepper-indicator-step_mark__circle {
      background-color: $gray-100;
    }
    .stepper-indicator-step_mark__line {
      background-color: $gray-100;
    }
  }
