.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;


  .stepper-steps-wrapper {
    flex: auto;
  }


  &.stepper-step_mark {
    .stepper-step_mark__name {
      background-color: $gray-600;
      border-color: $gray-600;
    }
  }


  .stepper-step-current {
    .stepper-step_mark__line {
      background-color: $gray-100;
    }

    .circle {
      background-color: $primary;
    }
    .circle-active {
      border: 1px solid $blue-600;
    }
  }


  .stepper-step-error {

    .stepper-step_mark__line {
      background-color: $gray-100;
    }

    .circle {
      // background-color: $red-500;
    }

    .circle-active {
      border: 1px solid $blue-600;
    }
  }

  .stepper-step-visited {

    .circle {
      background-color: $blue-600;
    }

    .stepper-step_mark__line {
      background-color: $blue-600;
    }
    .circle-active {
      border: none;
    }
  }

  .stepper-step-unvisited {

    .stepper-step_mark__circle {
      background-color: $gray-100;
    }

    .stepper-step_mark__line {
      background-color: $gray-100;
    }
    .circle-active {
      border: none;
    }
  }

  .stepper-step_mark {
    display: block;
    flex-direction: row;
    flex: auto;
    text-align: start;
  }

  .stepper-step_mark__line {
    background-color: $gray-100;
    height: 6px;
    width: -webkit-fill-available;
    width: -moz-available;
    margin-top: 16px;
  }

  .circle {
    background-color: $gray-100;
    border-radius: 50%;
    margin: 8px 0;
    height: 24px;
    width: 24px;
  }
  .circle-active {
    background-color: transparent;
    border-radius: 50%;
    margin: 8px 0;
    height: 30px;
    width: 30px;
    border: 1px solid $blue-600;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.stepper-text {
  text-align: center;
}

.stepper-fixed {
  text-align: -webkit-center;
  text-align: -moz-center;
  width: 60px;
  height: 60px;
}

/* Numeic stepper */

.stepper-check{
  display:table;
	width:100%;
  margin:0 auto;
  .step{
    display:table-cell;
    position:relative;
    padding: 10px 24px;
    &:first-child{
      padding-left: 0;
      .step-bar-left{
        margin-right: 14px;
        background: $stepper-check-color;
      }
      .step-bar-right{
        margin-left: -2px;
      }
    }
    &:last-child{
      padding-right: 0;
      .step-bar-left{
        margin-right: 0px;
      }
      .step-bar-right{
        margin-left: 20px;
        background: $stepper-check-color;
      }
    }
    
    .step-circle {
      margin:0 auto;
      color: $stepper-check-color;
      text-align: center;
      position: relative;
      z-index: 2;
    }
    .step-bar-left, .step-bar-right{
      position:absolute;
      top:35px;
      height:3px;
      background: $stepper-check-color;
    }
    .step-bar-right {
      right:0;
      left:50%;
      margin-left: 5px;
    }
    .step-bar-left {
      left:0;
      right:50%;
      margin-right: 5px;
    }
    &.active{
      .step-circle{
        color: $stepper-active-color;
      }
      .step-bar-right {
        background: $stepper-active-right-gradient-backgrount;
      }
      .step-bar-left{
        background: $stepper-active-color;
      }
    }
    &.active:first-child{
      .step-bar-right {
        background: $stepper-active-right-gradient-backgrount;
      }
      .step-bar-left{
        background: $stepper-active-left-gradient-backgrount;
      }
    }
    &.active:last-child{
      .step-bar-right {
        background: $stepper-active-right-gradient-backgrount;
      }
      .step-bar-left{
        background: $stepper-active-color;
      }
    }
    &.visited:not(:first-child){
      .step-circle{
        color: $stepper-active-color;
      }
      .step-bar-right {
        background: $stepper-active-color;
      }
      .step-bar-left{
        background: $stepper-active-color;
      }
    }
    &.visited:first-child{
      .step-circle{
        color: $stepper-active-color;
      }
      .step-bar-right {
        background: $stepper-active-color;
      }
      .step-bar-left{
        background: $stepper-active-left-gradient-backgrount;
      }
    }
    .step-title {
      margin-top:16px;
      text-align: center;
    }
  }
}