.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;


  .stepper-steps-wrapper {
    flex: auto;
  }


  &.stepper-step_mark {
    .stepper-step_mark__name {
      background-color: $gray-700;
      border-color: $gray-700;
    }
  }


  .stepper-step-current {
    .stepper-step_mark__line {
      background-color: $gray-100;
    }

    .circle {
      background-color: $primary;
    }
    .circle-active {
      border: 1px solid $blue-900;
    }
  }


  .stepper-step-error {

    .stepper-step_mark__line {
      background-color: $gray-100;
    }

    .circle {
      background-color: $red-500;
    }

    .circle-active {
      border: 1px solid $blue-900;
    }
  }

  .stepper-step-visited {

    .circle {
      background-color: $blue-900;
    }

    .stepper-step_mark__line {
      background-color: $blue-900;
    }
    .circle-active {
      border: none;
    }
  }

  .stepper-step-unvisited {

    .stepper-step_mark__circle {
      background-color: $gray-100;
    }

    .stepper-step_mark__line {
      background-color: $gray-100;
    }
    .circle-active {
      border: none;
    }
  }

  .stepper-step_mark {
    display: block;
    flex-direction: row;
    flex: auto;
    text-align: start;
  }

  .stepper-step_mark__line {
    background-color: $gray-100;
    height: 6px;
    width: -webkit-fill-available;
    width: -moz-available;
    margin-top: 16px;
  }

  .circle {
    background-color: $gray-100;
    border-radius: 50%;
    margin: 8px 0;
    height: 24px;
    width: 24px;
  }
  .circle-active {
    background-color: transparent;
    border-radius: 50%;
    margin: 8px 0;
    height: 30px;
    width: 30px;
    border: 1px solid $blue-900;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.stepper-text {
  text-align: center;
}

.stepper-fixed {
  text-align: -webkit-center;
  text-align: -moz-center;
  width: 60px;
  height: 60px;
}

/* Numeic stepper */

.stepper-numeric{
  display:table;
	width:100%;
  margin:0 auto;
  .step{
    display:table-cell;
    position:relative;
    padding:24px;
    &:first-child{
      padding-left: 0;
      .step-bar-left{
        display:none;
      }
    }
    &:last-child{
      padding-right: 0;
      .step-bar-right{
        display:none;
      }
    }
    .step-bar-left:not(:first-child){
      margin-right: 5px;
      z-index: 1;
    }
    .step-bar-right:not(:first-child){
      margin-left: 5px;
      z-index: 1;
    }

    .step-circle {
      width:20px;
      height:20px;
      margin:0 auto;
      background-color:$gray-100;
      border-radius: 50%;
      text-align: center;
      line-height:20px;
      font-size: 12px;
      font-weight: 600;
      color: $white;
      position: relative;
      z-index: 2;
    }
    .step-bar-left, .step-bar-right{
      position:absolute;
      top:32px;
      height:3px;
      border-top:3px solid $gray-100;
    }
    .step-bar-right {
      right:0;
      left:50%;
    }
    .step-bar-left {
      left:0;
      right:50%;
    }
    &.visited{
      .step-circle{
        background-color: $blue-900;
      }
      .step-bar-left,.step-bar-right{
        border-top:3px solid $blue-900;
      }
    }
    &.active{
      .step-circle{
        background-color: $blue-900;
      }
      .step-bar-left{
        border-top:3px solid $blue-900;
      }
    }
    .step-title {
      margin-top:16px;
      text-align: center;
    }
  }
}