.block-disks {
  display: flex;
  flex-wrap: wrap;
}

.block-disks-item {
  background-color: $white;
  border: 1px solid $gray-200;
  border-radius: 4px;
  margin: 12px 12px 0 0;
  padding: 8px 24px 8px 16px;
  word-break: break-word;

  &__lable {
    margin-bottom: 4px;
  }

  &__capacity {
    color: $gray-400;
  }
}

//grouped disk items
.block-disks-wrapper {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block-disks-grouped {
  margin: 12px 12px 0 0;
  .block-disks-item {
    background-color: $white;
    border-color: $success;
    border-radius: 0;
    margin: 0 0 0 -1px;

    &:first-child {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      margin: 0;
    }
    &:last-child {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
}
