<div class="outlet-header">
  <div class="outlet-header_title">
    <span>{{title}}</span>
  </div>
  <div class="outlet-content ml-auto">
    <div>
      <button class="btn btn-primary">Action</button>
      <button class="btn btn-secondary"><i class="mi mi-more-vertical"></i></button>
      {{yield}}
    </div>
  </div>
</div>
