//
// Color system
//

// Color palettes

// Blue color variations

$blue-100: #C3DAFF !default;
$blue-200: #A3BAE0 !default;
$blue-300: #6899E7 !default;
$blue-400: #4489F7 !default;
$blue-500: #276AD4 !default;
$blue-600: #1263E4 !default;
$blue-700: #0E4FB6 !default;

// Green color variations

$green-100: #35DEA1 !default;
$green-200: #4BCA9C !default;
$green-300: #28B481 !default;


// Orange color variations

$orange-100: #F9BAA8 !default;
$orange-200: #FA8B6A !default;
$orange-300: #E86C47 !default;


// Gray color variations

$gray-100: #F4F4F4 !default;
$gray-200: #EFF2F5 !default;
$gray-300: #E8EAE9 !default;
$gray-400: #E1E9EC !default;
$gray-500: #D9DEEB !default;
$gray-600: #9B9CB8 !default;
$gray-700: #9397AD !default;
$gray-800: #5C698C !default;
$gray-900: #24292E !default;


// Sky-blue color variations

$skyblue-100: #F8FBFD !default;
$skyblue-200: #F4F9FD !default;
$skyblue-300: #E6F4FB !default;
$skyblue-400: #6DC2FF !default;


// Red color variations

$red-100: #FFC2BA !default;
$red-200: #FF7C86 !default;
$red-300: #BD1700 !default;


// Purple

$purple: #322E7A !default;


// White

$white: #FFFFFF !default;

// Amber

$amber-100: #FFE3BA !default;
$amber-200: #FFB039 !default;

// Dark green

$darkgreen: #156649 !default;

// Yellow

$yellow: #DDC557 !default;

// Dusty gray

$dustygray: #959595 !default;

// Black

$black: #000000 !default;

// Base colors
$blue:    $blue-500 !default;
$green:   $green-200 !default;
$orange:  $orange-200 !default;
$gray:    $gray-800 !default;
$skyblue: $skyblue-400 !default;
$red: $red-200 !default;
$amber: $amber-200 !default;

$colors: () !default;
$colors: map-merge((

  "blue":       $blue,
  "green":     $green,
  "orange":     $orange,
  "gray":     $gray,
  "skyblue":       $skyblue,
  "red":       $red,
  "purple":        $purple,
  "white":     $white,
  "amber":     $amber,
  "darkgreen": $darkgreen,
  "yellow": $yellow,
  "dustygray": $dustygray,
), $colors);

// Theme colors
$primary: $blue-500 !default;
$secondary: $white !default;
$orange: $orange !default;
$green: $green !default;
$skyblue: $skyblue-100 !default;
$blue-outline:   $blue-200 !default;
$danger: $red !default;
$success: $green !default;
$gray: $gray !default;
$error: $red-300 !default;
$warning: $amber-200 !default;
$inactive: $gray-500 !default;
$info: $darkgreen !default;
$purple: $purple !default;
$link: $blue-600 !default;

//Color maps
$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "orange": $orange,
  "green": $green,
  "skyblue":    $skyblue,
  "blue-outline": $blue-outline,
  "danger":     $danger,
  "success":    $success,
  "gray" :      $gray,
  "error": $error,
  "warning": $warning,
  "inactive": $inactive,
  "info": $info,
  "purple": $purple,
  "link": $link,
  "amber": $amber,
  "yellow": $yellow,
  "darkgreen": $darkgreen,
  "dustygray": $dustygray,
  "black": $black
), $theme-colors);

$button-colors: () !default;
$button-colors: (
  primary: (
    base: $primary,
    light: $blue-300,
    dark: $blue-700,
  ),
  secondary: (
    base: $secondary,
    light:$blue-300,
    dark: $blue,
  ),
  orange: (
    base: $orange,
    light: $orange-100,
    dark: $orange-300,
  ),
);

$alert-colors: () !default;
$alert-colors: map-merge((
  "primary":    $blue-300,
  "danger":     $red-100,
  "success":    $green,
  "light":    $skyblue-200,
  "info":    $darkgreen,
  "warning":    $amber-100,
), $alert-colors);

$blues: () !default;
$blues: map-merge((
  "100": $blue-100,
  "200": $blue-200,
  "300": $blue-300,
  "400": $blue-400,
  "500": $blue-500,
  "600": $blue-600,
  "700": $blue-700
), $blues);

$greens: () !default;
$greens: map-merge((
  "100": $green-100,
  "200": $green-200,
  "300": $green-300
), $greens);

$oranges: () !default;
$oranges: map-merge((
  "100": $orange-100,
  "200": $orange-200,
  "300": $orange-300
), $oranges);

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$skyblues: () !default;
$skyblues: map-merge((
  "100": $skyblue-100,
  "200": $skyblue-200,
  "300": $skyblue-300,
  "400": $skyblue-400
), $skyblues);

$reds: () !default;
$reds: map-merge((
  "100": $red-100,
  "200": $red-200,
  "300": $red-300
), $reds);

$ambers: () !default;
$ambers: map-merge((
  "100": $amber-100,
  "200": $amber-200
), $ambers);
