//
// Color system
//

// stylelint-disable
// Gray palettes
$white:    #FEFEFE !default;
$gray-000: #FAFAFA !default;
$gray-100: #E8EAF1 !default;
$gray-200: #D0D3E2 !default;
$gray-300: #ABB2CC !default;
$gray-400: #8790B5 !default;
$gray-500: #626F9F !default;
$gray-600: #4B557B !default;
$gray-700: #262B3E !default;
$gray-800: #171A26 !default;
$gray-900: #010101 !default;

// blue palette
$blue-000: #fff !default;
$blue-100: #D9E7FF !default;
$blue-200: #ADCDFF !default;
$blue-300: #82B4FF !default;
$blue-400: #579BFF !default;
$blue-500: #2B83FF !default;
$blue-600: #006CFD !default;
$blue-700: #004FCA !default;
$blue-800: #003594 !default;
$blue-900: #001E5E !default;

// red palette
$red-000: #fff !default;
$red-100: #FFD9DA !default;
$red-200: #FFADB3 !default;
$red-300: #FF8491 !default;
$red-400: #FB6473 !default;
$red-500: #EC4A59 !default;
$red-600: #D83544 !default;
$red-700: #AE2730 !default;
$red-800: #821A1E !default;
$red-900: #540F10 !default;

// green palette
$green-000: #fff !default;
$green-100: #D9FEEF !default;
$green-200: #ADF7DC !default;
$green-300: #82EBC6 !default;
$green-400: #57DAAE !default;
$green-500: #2BC394 !default;
$green-600: #03A678 !default;
$green-700: #008664 !default;
$green-800: #00654D !default;
$green-900: #004234 !default;

// yellow palette
$yellow-000: #fff !default;
$yellow-100: #FFFDD9 !default;
$yellow-200: #FFF8AD !default;
$yellow-300: #FFEE82 !default;
$yellow-400: #FFE157 !default;
$yellow-500: #FFD02B !default;
$yellow-600: #F8BB00 !default;
$yellow-700: #C99C00 !default;
$yellow-800: #947900 !default;
$yellow-900: #5E5100 !default;

// orange palette
$orange-000: #fff !default;
$orange-100: #FFE6D9 !default;
$orange-200: #FFCBAD !default;
$orange-300: #FFB282 !default;
$orange-400: #FF9A57 !default;
$orange-500: #FF832B !default;
$orange-600: #F26D00 !default;
$orange-700: #C45B00 !default;
$orange-800: #934700 !default;
$orange-900: #5E3000 !default;

// cyan palette
$cyan-000: #fff !default;
$cyan-100: #D9FFFF !default;
$cyan-200: #ADFFFF !default;
$cyan-300: #82FFFF !default;
$cyan-400: #57FFFF !default;
$cyan-500: #31F6FB !default;
$cyan-600: #1BE0E6 !default;
$cyan-700: #12B0B9 !default;
$cyan-800: #0A808B !default;
$cyan-900: #05515A !default;

// purple palette
$purple-000: #fff !default;
$purple-100: #DAD9FF !default;
$purple-200: #B5ADFF !default;
$purple-300: #9582FF !default;
$purple-400: #7A5DFF !default;
$purple-500: #6445FF !default;
$purple-600: #5333FF !default;
$purple-700: #4425CA !default;
$purple-800: #341894 !default;
$purple-900: #220E5E !default;

// Base colors
$blue:    $blue-600 !default;
$indigo:  #6610f2 !default;
$purple:  $purple-600 !default;
$pink:    #e83e8c !default;
$red:     $red-600 !default;
$orange:  $orange-600 !default;
$yellow:  $yellow-600 !default;
$green:   $green-600 !default;
$teal:    #20c997 !default;
$teal-blue:#084766;
$cyan:    $cyan-600 !default;
$black:   $gray-700 !default;

$colors: () !default;
$colors: map-merge((

  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal-blue":  $teal-blue,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

// Theme colors
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-600 !default;

//Color maps
$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "white":      $white,
  "orange":     $orange,
  "purple":     $purple,

), $theme-colors);

$grays: () !default;
$grays: map-merge((
  "000": $gray-000,
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blues: () !default;
$blues: map-merge((
  "000": $blue-000,
  "100": $blue-100,
  "200": $blue-200,
  "300": $blue-300,
  "400": $blue-400,
  "500": $blue-500,
  "600": $blue-600,
  "700": $blue-700,
  "800": $blue-800,
  "900": $blue-900
), $blues);

$greens: () !default;
$greens: map-merge((
  "000": $green-000,
  "100": $green-100,
  "200": $green-200,
  "300": $green-300,
  "400": $green-400,
  "500": $green-500,
  "600": $green-600,
  "700": $green-700,
  "800": $green-800,
  "900": $green-900
), $greens);

$reds: () !default;
$reds: map-merge((
  "000": $red-000,
  "100": $red-100,
  "200": $red-200,
  "300": $red-300,
  "400": $red-400,
  "500": $red-500,
  "600": $red-600,
  "700": $red-700,
  "800": $red-800,
  "900": $red-900
), $reds);

$yellows: () !default;
$yellows: map-merge((
  "000": $yellow-000,
  "100": $yellow-100,
  "200": $yellow-200,
  "300": $yellow-300,
  "400": $yellow-400,
  "500": $yellow-500,
  "600": $yellow-600,
  "700": $yellow-700,
  "800": $yellow-800,
  "900": $yellow-900
), $yellows);

$cyans: () !default;
$cyans: map-merge((
  "000": $cyan-000,
  "100": $cyan-100,
  "200": $cyan-200,
  "300": $cyan-300,
  "400": $cyan-400,
  "500": $cyan-500,
  "600": $cyan-600,
  "700": $cyan-700,
  "800": $cyan-800,
  "900": $cyan-900
), $cyans);

$purples: () !default;
$purples: map-merge((
  "000": $purple-000,
  "100": $purple-100,
  "200": $purple-200,
  "300": $purple-300,
  "400": $purple-400,
  "500": $purple-500,
  "600": $purple-600,
  "700": $purple-700,
  "800": $purple-800,
  "900": $purple-900
), $purples);

$oranges: () !default;
$oranges: map-merge((
  "000": $orange-000,
  "100": $orange-100,
  "200": $orange-200,
  "300": $orange-300,
  "400": $orange-400,
  "500": $orange-500,
  "600": $orange-600,
  "700": $orange-700,
  "800": $orange-800,
  "900": $orange-900
), $oranges);
