{{page-head title="Typography" g="https://github.com/mayadata-io/maya-light/blob/master/app/styles/base/_type.scss" b=""}}

<div class="mb-5">
<p class="lead"><ins>Headings</ins></p>
<p class="h1">The quick brown fox jumps over the lazy</p>
<p class="h2">The quick brown fox jumps over the lazy dog</p>
<p class="h3">The quick brown fox jumps over the lazy dog</p>
<p class="h4">The quick brown fox jumps over the lazy dog</p>
<p class="h5">The quick brown fox jumps over the lazy dog</p>
<p class="h6">The quick brown fox jumps over the lazy dog</p>
</div>
<div class="mb-5">
<p>The quick brown fox jumps over the lazy dog</p>
<p class="lead">The quick brown fox jumps over the lazy dog</p>
<p class="small">The quick brown fox jumps over the lazy dog</p>
</div>

<div>
	<p class="lead"><ins>Text formating</ins></p>
	<p class="text-muted">The quick brown fox jumps over the lazy dog</p>
	<p class="text-primary">The quick brown fox jumps over the lazy dog</p>
	<p class="text-success">The quick brown fox jumps over the lazy dog</p>
	<p class="text-warning">The quick brown fox jumps over the lazy dog</p>
	<p class="text-danger">The quick brown fox jumps over the lazy dog</p>
	<p class="text-info">The quick brown fox jumps over the lazy dog</p>



	</div>