// docs specific custom styles

@import "../scss/app";

.color-block-wrapper {
  flex: 1 1 auto !important;
  border-radius: 4px;
  margin-bottom: 12px;
}
.color-block-wrapper :first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.color-block-wrapper :last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.color-base-block {
  height: 100px;
  margin: 10px;
  border-radius: 2px;
}
.color-variant-block {
  padding: 10px;
}
.color-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.body {
  font-size: 14px !important;
}
.css-8rimd0 {
  font-size: 14px !important;
}

.logobox {
  border: 1px solid $gray-200;
  border-radius: 4px;
  overflow: hidden;
}
.logobox-header {
  display: flex;
  flex-grow: row;
  justify-content: center;
  align-items: center;
  background: $gray-100;
  .logobox-header-title {
    color: $gray-900;
    padding-left: 8px !important;
  }
}
.logobox-content {
  padding: 36px 36px;
  text-align: center;
}
.logobox-footer {
  background: $gray-100;
  overflow: hidden;
}
.logo-light {
  background: $white;
}
.logo-dark {
  background: $gray-300;
}

//icons page
.icon-box-content:not(:last-child) {
  flex: 1 1 auto !important;
}
.icon-box-content {
  background: $gray-000;
  padding: 14px 18px;
  margin: 4px;
  border-radius: 4px;
  min-width: 202px;
  span {
    vertical-align: middle;
  }
}
