<div class="loader {{size}} loader-page_center">
  <div class="loader-circle"></div>
  <div class="loader-avatar">
    <svg viewBox="0 0 75 91" fill="#8D8DF9">
      <path d="M67.3623 82.412C70.0594 80.8709 69.1532 81.5824 69.5 78.5C70.1935 72.1426 67.4778 61.0667 62.4305 56.8284C61.6984 56.212 61.6599 55.6726 62.0837 54.8249C64.5111 49.8932 67.0926 45 69.2117 39.9141C72.6793 31.7073 75.1837 23.3079 74.7599 14.1764C74.4516 7.81905 70.252 1.96259 64.3955 0.421418C60.1573 -0.695935 56.6511 0.38287 53.9926 3.96611C52.9908 5.31464 52.1046 6.74021 51.4496 8.28138C49.2919 13.0976 48.2516 18.222 47.1728 23.3849C45.5931 31.0522 44.9767 38.7582 45.2079 46.5797C45.2465 48.275 45.2079 50.0088 45.2079 51.5885C42.6265 51.3959 40.0063 51.0876 37.3863 51.0876C34.7278 51.0876 32.0694 51.4343 29.3723 51.627C29.3723 51.3573 29.3338 51.049 29.3723 50.7408C30.297 37.872 28.6787 25.2729 25.0955 12.9435C24.1323 9.62995 22.8222 6.43195 20.5875 3.73489C18.9307 1.73136 17.0044 0.305811 14.3844 0.113164C7.02528 -0.464777 0.436672 5.81548 0.0513777 13.7525C-0.179799 19.1467 0.359688 24.3867 1.86234 29.5882C4.44381 38.3729 8.10399 46.6953 12.5349 54.6709C12.9587 55.4414 13.3055 56.0964 12.4194 56.8284C7.372 61.0282 5.79222 66.6534 6.17752 73.0108C6.37016 76.3243 6.83252 79.6379 7.3334 82.9514C7.37193 82.8743 36.77 99.7117 67.3623 82.412Z"
      />
    </svg>
  </div>
</div>
{{yield}}
