{{page-head title="Noty" g="https://github.com/mayadata-io/maya-light/blob/master/app/styles/components/_alert.scss"}}
<div class="mt-4 w-75">

    <div class="noty noty-tr noty-success">
        <div class="noty-content">
            <div class="noty-header">
                <div class="icon"><i class="mi mi-check-circle"></i></div>
                <div class="noty-title">Success</div>
            </div>
            <div class="noty-message">
                jklfs fsflksf sjfksdjfd df sa eiorpew dndjs kkdasd dlkasds asror ee eee okdaafn.
            </div>
        </div>
    </div>
    <div class="noty noty-tr noty-success">
        <div class="noty-content">
            <div class="noty-header">
                <div class="icon"><i class="mi mi-check-circle"></i></div>
                <div class="noty-title">Success</div>
            </div>
            <div class="noty-message">
                jklfs fsflksf sjfksdjfd df sa eiorpew dndjs kkdasd dlkasds asror ee eee okdaafn.
            </div>
        </div>
    </div>
    <div class="noty noty-tr noty-success">
        <div class="noty-content">
            <div class="noty-header">
                <div class="icon"><i class="mi mi-check-circle"></i></div>
                <div class="noty-title">top</div>
            </div>
            <div class="noty-message">
                jklfs fsflksf sjfksdjfd df sa eiorpew dndjs kkdasd dlkasds asror ee eee okdaafn.
            </div>
        </div>
    </div>
    <div class="noty noty-tl noty-success">
        <div class="noty-content">
            <div class="noty-header">
                <div class="icon"><i class="mi mi-check-circle"></i></div>
                <div class="noty-title">Success</div>
            </div>
            <div class="noty-message">
                jklfs fsflksf sjfksdjfd df sa eiorpew dndjs kkdasd dlkasds asror ee eee okdaafn.
            </div>
        </div>
    </div>
    <div class="noty noty-bl noty-warning">
        <div class="noty-content">
            <div class="noty-header">
                <div class="icon"><i class="mi mi-check-circle"></i></div>
                <div class="noty-title">Warning</div>
            </div>
            <div class="noty-message">
                jklfs fsflksf sjfksdjfd df sa eiorpew dndjs kkdasd dlkasds asror ee eee okdaafn.
            </div>
        </div>
    </div>
    <div class="noty noty-br noty-danger b-d">
        <div class="noty-content b-d">
            <div class="noty-header b-d">
                <span class="icon"><i class="mi mi-check-circle"></i></span>
                <h5 class="noty-title b-d">Danger</h5>
                <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="noty-message b-d">
            </div>
        </div>
    </div>
</div>
<style>
    .noty {
        border: 1px solid #F4F5F7;
        border-radius: 4px;
        box-shadow: 0px 0px 9px 0px #D3D0D0;
        max-width: 367px;
        margin: 10px;
        z-index: 1031;
        background-color: #fff;
        overflow: auto;
        position: absolute;
    }
    .noty-header{
        display: flex;
        align-items: flex-start;
    }
    .icon{
        margin-right: 10px;
    }
    .noty-message{
      margin-left:25px;
    }
    .noty-tr {
        right: 0px;
        top:0px;
    }
    .noty-tl{
        left:0px;
        top:0px;
    }
    .noty-bl{
        bottom:0;
        left:0;
    }
    .noty-br{
        bottom:0;
        right:0;
    }
    .noty-content {
        padding: 10px 20px;
    }
    .noty-success .noty-content .noty-header .icon {
        color: #36B37E;
    }
    .noty-warning .noty-content .noty-header .icon {
        color: #FFAB00;
    }
    .noty-danger .noty-content .noty-header .icon {
        color: #FF5230;
    }
</style>