{{page-head title="Icons"}}
<link rel="stylesheet" href="https://mayadata-io.github.io/maya-light/assets/css/demo.css">
<link rel="stylesheet" href="https://mayadata-io.github.io/maya-light/assets/css/style.css"> {{!--
<link rel="stylesheet" href="/rui/assets/css/demo.css">
<link rel="stylesheet" href="/rui/assets/css/style.css"> for development --}}
<h4 class="lead">
    <u>Example</u>
</h4>

{{#code-block language='markup'}} &lt;span class="mi mi-airplay">&lt;/span>{{/code-block}}

<div class="bgc1 clearfix">

</div>
<div class="row clearfix mhl ptl">
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs icon-div">
            <span class="mi mi-activity">
            </span>
            <span class="mls"> mi-activity</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-airplay">

            </span>
            <span class="mls"> mi-airplay</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-alert-circle">

            </span>
            <span class="mls"> mi-alert-circle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-alert-octagon">

            </span>
            <span class="mls"> mi-alert-octagon</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-alert-triangle">

            </span>
            <span class="mls"> mi-alert-triangle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-align-center">

            </span>
            <span class="mls"> mi-align-center</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-align-justify">

            </span>
            <span class="mls"> mi-align-justify</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-align-left">

            </span>
            <span class="mls"> mi-align-left</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-align-right">

            </span>
            <span class="mls"> mi-align-right</span>
        </div>


    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-anchor">

            </span>
            <span class="mls"> mi-anchor</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-aperture">

            </span>
            <span class="mls"> mi-aperture</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-arrow-down-circle">

            </span>
            <span class="mls"> mi-arrow-down-circle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-arrow-down-left">

            </span>
            <span class="mls"> mi-arrow-down-left</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-arrow-down-right">

            </span>
            <span class="mls"> mi-arrow-down-right</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-arrow-down">

            </span>
            <span class="mls"> mi-arrow-down</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-arrow-left-circle">

            </span>
            <span class="mls"> mi-arrow-left-circle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-arrow-left">

            </span>
            <span class="mls"> mi-arrow-left</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-arrow-right-circle">

            </span>
            <span class="mls"> mi-arrow-right-circle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-arrow-right">

            </span>
            <span class="mls"> mi-arrow-right</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-arrow-up-circle">

            </span>
            <span class="mls"> mi-arrow-up-circle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-arrow-up-left">

            </span>
            <span class="mls"> mi-arrow-up-left</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-arrow-up-right">

            </span>
            <span class="mls"> mi-arrow-up-right</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-arrow-up">

            </span>
            <span class="mls"> mi-arrow-up</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-at-sign">

            </span>
            <span class="mls"> mi-at-sign</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-award">

            </span>
            <span class="mls"> mi-award</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-bar-chart-2">

            </span>
            <span class="mls"> mi-bar-chart-2</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-bar-chart">

            </span>
            <span class="mls"> mi-bar-chart</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-battery-charging">

            </span>
            <span class="mls"> mi-battery-charging</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-battery">

            </span>
            <span class="mls"> mi-battery</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-bell-off">

            </span>
            <span class="mls"> mi-bell-off</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-bell">

            </span>
            <span class="mls"> mi-bell</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-bluetooth">

            </span>
            <span class="mls"> mi-bluetooth</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-bold">

            </span>
            <span class="mls"> mi-bold</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-book-open">

            </span>
            <span class="mls"> mi-book-open</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-book">

            </span>
            <span class="mls"> mi-book</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-bookmark">

            </span>
            <span class="mls"> mi-bookmark</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-box">

            </span>
            <span class="mls"> mi-box</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-briefcase">

            </span>
            <span class="mls"> mi-briefcase</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-calendar">

            </span>
            <span class="mls"> mi-calendar</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-camera-off">

            </span>
            <span class="mls"> mi-camera-off</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-camera">

            </span>
            <span class="mls"> mi-camera</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-cast">

            </span>
            <span class="mls"> mi-cast</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-check-circle">

            </span>
            <span class="mls"> mi-check-circle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-check-square">

            </span>
            <span class="mls"> mi-check-square</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-check">

            </span>
            <span class="mls"> mi-check</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-chevron-down">

            </span>
            <span class="mls"> mi-chevron-down</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-chevron-left">

            </span>
            <span class="mls"> mi-chevron-left</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-chevron-right">

            </span>
            <span class="mls"> mi-chevron-right</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-chevron-up">

            </span>
            <span class="mls"> mi-chevron-up</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-chevrons-down">

            </span>
            <span class="mls"> mi-chevrons-down</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-chevrons-left">

            </span>
            <span class="mls"> mi-chevrons-left</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-chevrons-right">

            </span>
            <span class="mls"> mi-chevrons-right</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-chevrons-up">

            </span>
            <span class="mls"> mi-chevrons-up</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-chrome">

            </span>
            <span class="mls"> mi-chrome</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-circle">

            </span>
            <span class="mls"> mi-circle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-clipboard">

            </span>
            <span class="mls"> mi-clipboard</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-clock">

            </span>
            <span class="mls"> mi-clock</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-cloud-drizzle">

            </span>
            <span class="mls"> mi-cloud-drizzle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-cloud-lightning">

            </span>
            <span class="mls"> mi-cloud-lightning</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-cloud-off">

            </span>
            <span class="mls"> mi-cloud-off</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-cloud-rain">

            </span>
            <span class="mls"> mi-cloud-rain</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-cloud-snow">

            </span>
            <span class="mls"> mi-cloud-snow</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-cloud">

            </span>
            <span class="mls"> mi-cloud</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-code">

            </span>
            <span class="mls"> mi-code</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-codepen">

            </span>
            <span class="mls"> mi-codepen</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-command">

            </span>
            <span class="mls"> mi-command</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-compass">

            </span>
            <span class="mls"> mi-compass</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-copy">

            </span>
            <span class="mls"> mi-copy</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-corner-down-left">

            </span>
            <span class="mls"> mi-corner-down-left</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-corner-down-right">

            </span>
            <span class="mls"> mi-corner-down-right</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-corner-left-up">

            </span>
            <span class="mls"> mi-corner-left-up</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-corner-right-down">

            </span>
            <span class="mls"> mi-corner-right-down</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-corner-right-up">

            </span>
            <span class="mls"> mi-corner-right-up</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-corner-up-left">

            </span>
            <span class="mls"> mi-corner-up-left</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-corner-up-right">

            </span>
            <span class="mls"> mi-corner-up-right</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-cpu">

            </span>
            <span class="mls"> mi-cpu</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-credit-card">

            </span>
            <span class="mls"> mi-credit-card</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-crop">

            </span>
            <span class="mls"> mi-crop</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-crosshair">

            </span>
            <span class="mls"> mi-crosshair</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-database">

            </span>
            <span class="mls"> mi-database</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-delete">

            </span>
            <span class="mls"> mi-delete</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-disc">

            </span>
            <span class="mls"> mi-disc</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-dollar-sign">

            </span>
            <span class="mls"> mi-dollar-sign</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-download-cloud">

            </span>
            <span class="mls"> mi-download-cloud</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-download">

            </span>
            <span class="mls"> mi-download</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-droplet">

            </span>
            <span class="mls"> mi-droplet</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-edit-2">

            </span>
            <span class="mls"> mi-edit-2</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-edit-3">

            </span>
            <span class="mls"> mi-edit-3</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-edit">

            </span>
            <span class="mls"> mi-edit</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-external-link">

            </span>
            <span class="mls"> mi-external-link</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-eye-off">

            </span>
            <span class="mls"> mi-eye-off</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-eye">

            </span>
            <span class="mls"> mi-eye</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-facebook">

            </span>
            <span class="mls"> mi-facebook</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-fast-forward">

            </span>
            <span class="mls"> mi-fast-forward</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-feather">

            </span>
            <span class="mls"> mi-feather</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-file-minus">

            </span>
            <span class="mls"> mi-file-minus</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-file-plus">

            </span>
            <span class="mls"> mi-file-plus</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-file-text">

            </span>
            <span class="mls"> mi-file-text</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-file">

            </span>
            <span class="mls"> mi-file</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-film">

            </span>
            <span class="mls"> mi-film</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-filter">

            </span>
            <span class="mls"> mi-filter</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-flag">

            </span>
            <span class="mls"> mi-flag</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-folder-minus">

            </span>
            <span class="mls"> mi-folder-minus</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-folder-plus">

            </span>
            <span class="mls"> mi-folder-plus</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-folder">

            </span>
            <span class="mls"> mi-folder</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-git-branch">

            </span>
            <span class="mls"> mi-git-branch</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-git-commit">

            </span>
            <span class="mls"> mi-git-commit</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-git-merge">

            </span>
            <span class="mls"> mi-git-merge</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-git-pull-request">

            </span>
            <span class="mls"> mi-git-pull-request</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-github">

            </span>
            <span class="mls"> mi-github</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-gitlab">

            </span>
            <span class="mls"> mi-gitlab</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-globe">

            </span>
            <span class="mls"> mi-globe</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-grid">

            </span>
            <span class="mls"> mi-grid</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-hard-drive">

            </span>
            <span class="mls"> mi-hard-drive</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-hash">

            </span>
            <span class="mls"> mi-hash</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-headphones">

            </span>
            <span class="mls"> mi-headphones</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-heart">

            </span>
            <span class="mls"> mi-heart</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-help-circle">

            </span>
            <span class="mls"> mi-help-circle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-home">

            </span>
            <span class="mls"> mi-home</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-image">

            </span>
            <span class="mls"> mi-image</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-inbox">

            </span>
            <span class="mls"> mi-inbox</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-info">

            </span>
            <span class="mls"> mi-info</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-instagram">

            </span>
            <span class="mls"> mi-instagram</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-italic">

            </span>
            <span class="mls"> mi-italic</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-layers">

            </span>
            <span class="mls"> mi-layers</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-layout">

            </span>
            <span class="mls"> mi-layout</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-life-buoy">

            </span>
            <span class="mls"> mi-life-buoy</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-link-2">

            </span>
            <span class="mls"> mi-link-2</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-link">

            </span>
            <span class="mls"> mi-link</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-linkedin">

            </span>
            <span class="mls"> mi-linkedin</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-list">

            </span>
            <span class="mls"> mi-list</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-loader">

            </span>
            <span class="mls"> mi-loader</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-lock">

            </span>
            <span class="mls"> mi-lock</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-log-in">

            </span>
            <span class="mls"> mi-log-in</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-log-out">

            </span>
            <span class="mls"> mi-log-out</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-mail">

            </span>
            <span class="mls"> mi-mail</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-map-pin">

            </span>
            <span class="mls"> mi-map-pin</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-map">

            </span>
            <span class="mls"> mi-map</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-maximize-2">

            </span>
            <span class="mls"> mi-maximize-2</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-maximize">

            </span>
            <span class="mls"> mi-maximize</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-menu">

            </span>
            <span class="mls"> mi-menu</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-message-circle">

            </span>
            <span class="mls"> mi-message-circle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-message-square">

            </span>
            <span class="mls"> mi-message-square</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-mic-off">

            </span>
            <span class="mls"> mi-mic-off</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-mic">

            </span>
            <span class="mls"> mi-mic</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-minimize-2">

            </span>
            <span class="mls"> mi-minimize-2</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-minimize">

            </span>
            <span class="mls"> mi-minimize</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-minus-circle">

            </span>
            <span class="mls"> mi-minus-circle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-minus-square">

            </span>
            <span class="mls"> mi-minus-square</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-minus">

            </span>
            <span class="mls"> mi-minus</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-monitor">

            </span>
            <span class="mls"> mi-monitor</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-moon">

            </span>
            <span class="mls"> mi-moon</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-more-horizontal">

            </span>
            <span class="mls"> mi-more-horizontal</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-more-vertical">

            </span>
            <span class="mls"> mi-more-vertical</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-move">

            </span>
            <span class="mls"> mi-move</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-music">

            </span>
            <span class="mls"> mi-music</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-navigation-2">

            </span>
            <span class="mls"> mi-navigation-2</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-navigation">

            </span>
            <span class="mls"> mi-navigation</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-octagon">

            </span>
            <span class="mls"> mi-octagon</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-package">

            </span>
            <span class="mls"> mi-package</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-paperclip">

            </span>
            <span class="mls"> mi-paperclip</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-pause-circle">

            </span>
            <span class="mls"> mi-pause-circle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-pause">

            </span>
            <span class="mls"> mi-pause</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-percent">

            </span>
            <span class="mls"> mi-percent</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-phone-call">

            </span>
            <span class="mls"> mi-phone-call</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-phone-forwarded">

            </span>
            <span class="mls"> mi-phone-forwarded</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-phone-incoming">

            </span>
            <span class="mls"> mi-phone-incoming</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-phone-missed">

            </span>
            <span class="mls"> mi-phone-missed</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-phone-off">

            </span>
            <span class="mls"> mi-phone-off</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-phone-outgoing">

            </span>
            <span class="mls"> mi-phone-outgoing</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-phone">

            </span>
            <span class="mls"> mi-phone</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-pie-chart">

            </span>
            <span class="mls"> mi-pie-chart</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-play-circle">

            </span>
            <span class="mls"> mi-play-circle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-play">

            </span>
            <span class="mls"> mi-play</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-plus-circle">

            </span>
            <span class="mls"> mi-plus-circle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-plus-square">

            </span>
            <span class="mls"> mi-plus-square</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-plus">

            </span>
            <span class="mls"> mi-plus</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-pocket">

            </span>
            <span class="mls"> mi-pocket</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-power">

            </span>
            <span class="mls"> mi-power</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-printer">

            </span>
            <span class="mls"> mi-printer</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-radio">

            </span>
            <span class="mls"> mi-radio</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-refresh-ccw">

            </span>
            <span class="mls"> mi-refresh-ccw</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-refresh-cw">

            </span>
            <span class="mls"> mi-refresh-cw</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-repeat">

            </span>
            <span class="mls"> mi-repeat</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-rewind">

            </span>
            <span class="mls"> mi-rewind</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-rotate-ccw">

            </span>
            <span class="mls"> mi-rotate-ccw</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-rotate-cw">

            </span>
            <span class="mls"> mi-rotate-cw</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-rss">

            </span>
            <span class="mls"> mi-rss</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-save">

            </span>
            <span class="mls"> mi-save</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-scissors">

            </span>
            <span class="mls"> mi-scissors</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-search">

            </span>
            <span class="mls"> mi-search</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-send">

            </span>
            <span class="mls"> mi-send</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-server">

            </span>
            <span class="mls"> mi-server</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-settings">

            </span>
            <span class="mls"> mi-settings</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-share-2">

            </span>
            <span class="mls"> mi-share-2</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-share">

            </span>
            <span class="mls"> mi-share</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-shield-off">

            </span>
            <span class="mls"> mi-shield-off</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-shield">

            </span>
            <span class="mls"> mi-shield</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-shopping-bag">

            </span>
            <span class="mls"> mi-shopping-bag</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-shopping-cart">

            </span>
            <span class="mls"> mi-shopping-cart</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-shuffle">

            </span>
            <span class="mls"> mi-shuffle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-sidebar">

            </span>
            <span class="mls"> mi-sidebar</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-skip-back">

            </span>
            <span class="mls"> mi-skip-back</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-skip-forward">

            </span>
            <span class="mls"> mi-skip-forward</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-slack">

            </span>
            <span class="mls"> mi-slack</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-slash">

            </span>
            <span class="mls"> mi-slash</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-sliders">

            </span>
            <span class="mls"> mi-sliders</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-smartphone">

            </span>
            <span class="mls"> mi-smartphone</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-speaker">

            </span>
            <span class="mls"> mi-speaker</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-square">

            </span>
            <span class="mls"> mi-square</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-star">

            </span>
            <span class="mls"> mi-star</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-stop-circle">

            </span>
            <span class="mls"> mi-stop-circle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-sun">

            </span>
            <span class="mls"> mi-sun</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-sunrise">

            </span>
            <span class="mls"> mi-sunrise</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-sunset">

            </span>
            <span class="mls"> mi-sunset</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-tablet">

            </span>
            <span class="mls"> mi-tablet</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-tag">

            </span>
            <span class="mls"> mi-tag</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-target">

            </span>
            <span class="mls"> mi-target</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-terminal">

            </span>
            <span class="mls"> mi-terminal</span>
        </div>
    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-thermometer">

            </span>
            <span class="mls"> mi-thermometer</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-thumbs-down">

            </span>
            <span class="mls"> mi-thumbs-down</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-thumbs-up">

            </span>
            <span class="mls"> mi-thumbs-up</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-toggle-left">

            </span>
            <span class="mls"> mi-toggle-left</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-toggle-right">

            </span>
            <span class="mls"> mi-toggle-right</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-trash-2">

            </span>
            <span class="mls"> mi-trash-2</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-trash">

            </span>
            <span class="mls"> mi-trash</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-trending-down">

            </span>
            <span class="mls"> mi-trending-down</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-trending-up">

            </span>
            <span class="mls"> mi-trending-up</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-triangle">

            </span>
            <span class="mls"> mi-triangle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-truck">

            </span>
            <span class="mls"> mi-truck</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-tv">

            </span>
            <span class="mls"> mi-tv</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-twitter">

            </span>
            <span class="mls"> mi-twitter</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-type">

            </span>
            <span class="mls"> mi-type</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-umbrella">

            </span>
            <span class="mls"> mi-umbrella</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-underline">

            </span>
            <span class="mls"> mi-underline</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-unlock">

            </span>
            <span class="mls"> mi-unlock</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-upload-cloud">

            </span>
            <span class="mls"> mi-upload-cloud</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-upload">

            </span>
            <span class="mls"> mi-upload</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-user-check">

            </span>
            <span class="mls"> mi-user-check</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-user-minus">

            </span>
            <span class="mls"> mi-user-minus</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-user-plus">

            </span>
            <span class="mls"> mi-user-plus</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-user-x">

            </span>
            <span class="mls"> mi-user-x</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-user">

            </span>
            <span class="mls"> mi-user</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-users">

            </span>
            <span class="mls"> mi-users</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-video-off">

            </span>
            <span class="mls"> mi-video-off</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-video">

            </span>
            <span class="mls"> mi-video</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-voicemail">

            </span>
            <span class="mls"> mi-voicemail</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-volume-1">

            </span>
            <span class="mls"> mi-volume-1</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-volume-2">

            </span>
            <span class="mls"> mi-volume-2</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-volume-x">

            </span>
            <span class="mls"> mi-volume-x</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-volume">

            </span>
            <span class="mls"> mi-volume</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-watch">

            </span>
            <span class="mls"> mi-watch</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-wifi-off">

            </span>
            <span class="mls"> mi-wifi-off</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-wifi">

            </span>
            <span class="mls"> mi-wifi</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-wind">

            </span>
            <span class="mls"> mi-wind</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-x-circle">

            </span>
            <span class="mls"> mi-x-circle</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-x-square">

            </span>
            <span class="mls"> mi-x-square</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-x">

            </span>
            <span class="mls"> mi-x</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-zap-off">

            </span>
            <span class="mls"> mi-zap-off</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-zap">

            </span>
            <span class="mls"> mi-zap</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-zoom-in">

            </span>
            <span class="mls"> mi-zoom-in</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-zoom-out">

            </span>
            <span class="mls"> mi-zoom-out</span>
        </div>

    </div>
    <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
            <span class="mi mi-corner-left-down">

            </span>
            <span class="mls"> mi-corner-left-down</span>
        </div>

    </div>
</div>



<div class="bgc1 clearfix footer">
    <p class="mhl">Thanks to
        <a href="https://feathericons.com/">Feathericons</a>
    </p>
</div>
<script src="https://mayadata-io.github.io/maya-light/assets/css/demo.js"></script>